{** @var cashShopScriptSettings $shopScriptSettings **}
{** @var cashCategoryDto[] $incomes **}
{** @var cashCategoryDto[] $expenses **}

<div class="content left200px" id="cash-settings">
    <div id="content">

        <div class="shadowed blank">

            <div class="block double-padded">

                <h1>[`Settings`]</h1>

                <div class="fields form">
                    <div class="field">
                        <div class="name">[`Categories`]</div>
                        <div class="value no-shift">
                            <div class="c-settings-columns">
                                <div class="c-column">
                                    <ul class="menu-v with-icons" data-sortable-type="category">
                                        {foreach $incomes as $category}
                                        <li data-id="{$category->id}">
                                             <a href="#/income/{$category->id}"><i class="icon16 sort c-ousted-sort-icon"></i><i class="icon16 color" style="background: {$category->color|default:'#47ce6f'};"></i>{$category->name|escape}</a>
                                        </li>
                                        {/foreach}
                                        <li class="small top-padded">
                                            <a href="#"
                                               data-cash-action="category-dialog"
                                               data-cash-category-type="income"
                                               data-cash-category-after-save="redispatch"
                                            ><i class="icon10 add"></i>[`New income category`]</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="c-column">
                                    <ul class="menu-v with-icons" data-sortable-type="category">
                                        {foreach $expenses as $category}
                                        <li data-id="{$category->id}">
                                             <a href="#/income/{$category->id}"><i class="icon16 sort c-ousted-sort-icon"></i><i class="icon16 color" style="background: {$category->color|default:'#47ce6f'};"></i>{$category->name|escape}</a>
                                        </li>
                                        {/foreach}
                                        <li class="small top-padded">
                                            <a href="#"
                                               data-cash-action="category-dialog"
                                               data-cash-category-type="expense"
                                               data-cash-category-after-save="redispatch"
                                            ><i class="icon10 add"></i>[`New expense category`]</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    {if $wa->shop}
                    <form id="cash-shopscript-settings">
                    <h2>Shop-Script</h2>

                    <div class="fields-group">
                        <div class="field">
                            <div class="name">[`Enabled`]</div>
                            <div class="value no-shift">
                                <input type="hidden" name="shopscript_settings[enabled]" value="0" />
                                <input type="checkbox"
                                       name="shopscript_settings[enabled]"
                                       value="1"
                                       {if $shopScriptSettings->isEnabled()}checked{/if}
                                />
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">[`Account`]</div>
                            <div class="value no-shift">
                                <select name="shopscript_settings[accountId]">
                                    {foreach $accounts as $account}
                                    <option value="{$account->id}"
                                            {if $shopScriptSettings->getAccountId() == $account->id}selected{/if}
                                    >
                                        {$account->name|escape} ({$account->currency->getCode()})
                                    </option>
                                    {/foreach}
                                </select>
                                <p class="hint">{sprintf('[`In case of different currencies for orders and the account, an order amount will be converted to the selected account currency accroding to the conversion rate defined <a href="%s">in Shop-Script settings</a>.`]', $wa_backend_url|cat:'shop/?action=settings#/currencies/')}</p>
                            </div>
                        </div>

                        <div class="field">
                            <div class="name">
                                [`Categories`]
                            </div>

                            <div class="value no-shift">
                                [`Paid orders`] &rarr;
                                <i class="icon16 color" style="background: green;"></i>
                                <select name="shopscript_settings[categoryIncomeId]">
                                    {foreach $incomes as $category}
                                    <option value="{$category->id}"
                                            {if $shopScriptSettings->getCategoryIncomeId() == $category->id}selected{/if}
                                    >
                                        {$category->name|escape}
                                    </option>
                                    {/foreach}
                                </select>
                                <a href="#" class="small gray" data-cash-shop-configure-actions="income">[`Configure`]</a>
                            </div>
                            <div class="value" style="display: none" data-cash-shop-configure-actions-income>
                                <div>Действия с заказом, которые создают новые income транзакции</div>
                                <select name="shopscript_settings[actions][income]" multiple>
                                    {foreach $actions as $action}
                                        <option value="{$action->getId()}"
                                                {if in_array($action->getId(), $shopScriptSettings->getIncomeActions())}selected{/if}
                                        >{$action->getName()}</option>
                                    {/foreach}
                                </select>
                            </div>

                            <div class="value no-shift">
                                [`Refunds`] &rarr;
                                <i class="icon16 color" style="background: orangered;"></i>
                                <select name="shopscript_settings[categoryExpenseId]">
                                    {foreach $expenses as $category}
                                    <option value="{$category->id}"
                                            {if $shopScriptSettings->getCategoryExpenseId() == $category->id}selected{/if}
                                    >
                                        {$category->name|escape}
                                    </option>
                                    {/foreach}
                                </select>
                                <a href="#" class="small gray" data-cash-shop-configure-actions="expense">[`Configure`]</a>
                            </div>
                            <div class="value" style="display: none" data-cash-shop-configure-actions-expense>
                                <div>Действия с заказом, которые создают новые expense транзакции</div>
                                <select name="shopscript_settings[actions][expense]" multiple>
                                    {foreach $actions as $action}
                                        <option value="{$action->getId()}"
                                                {if in_array($action->getId(), $shopScriptSettings->getExpenseActions())}selected{/if}
                                        >{$action->getName()}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>

                        {*
                            /// v2 maybe? ///

                            <div class="field">
                                <div class="name">
                                    [`Product purchases`]
                                </div>
                                <div class="value no-shift">
                                    <label><input type="checkbox" checked> [`Import automatically from Shop-Script when product purchase price is defined`]</label>
                                    <br><br>
                                    [`Product purchases`] &rarr;
                                    <i class="icon16 color" style="background: orange;"></i>
                                    <select>
                                        {foreach $categories_expense as $c}<option>{$c[0]}</option>{/foreach}
                                    </select>
                                    <p class="hint">[`Useful if you have 'purchase price' field defined for most products in Shop-Script and you don't wish to manually add product purchase transations in the Cash app. Enabling the setting will automatically add expense transactions based on purchase price of the ordered products.`]</p>
                                </div>
                            </div>
                        *}

                        <div class="field">
                            <div class="name">
                                [`Forecasted sales`]
                            </div>

                            <div class="value no-shift">
                                <label>
                                    <input type="hidden" name="shopscript_settings[enableForecast]" value="0" />
                                    <input type="checkbox"
                                           name="shopscript_settings[enableForecast]"
                                           {if $shopScriptSettings->isAutoForecast()}checked{/if}
                                           value="1" />
                                    [`Enable average forecasted sales (recommended)`]
                                </label>
                                <p class="hint">{sprintf('[`<b>Works like magic!</b> Average daily sales will be automatically added as planned transactions for better budget forecasting. When the day comes, forecasted sales for this day will be cleared automatically and replaced with the real sales data.`]')}</p>
                            </div>

                            <div class="value no-shift">
                                <label>
                                    <input type="radio"
                                           name="shopscript_settings[autoForecast]"
                                           value="1"
                                           {if $shopScriptSettings->isAutoForecast()}checked{/if}
                                    />
                                    [`Calculate average daily sales automatically (≈%s/day based on the data for the last 30 days)`]
                                </label>
                            </div>
                            <div class="value no-shift">
                                <label>
                                    <input type="radio"
                                           name="shopscript_settings[autoForecast]"
                                           value="0"
                                           {if !$shopScriptSettings->isAutoForecast()}checked{/if}
                                    />
                                    [`Enter manually:`]
                                </label>
                                <input type="text"
                                       class="numerical short"
                                       placeholder="0"
                                       name="shopscript_settings[manualForecast]"
                                       value="{$shopScriptSettings->getManualForecast()}"
                                /> {sprintf('[`%s/day`]', 'RUB')}
                            </div>

                        </div>

                        <div class="field">
                            <div class="name">
                                [`Order log`]
                            </div>
                            <div class="value no-shift">
                                <label>
                                    <input type="hidden" name="shopscript_settings[writeToOrderLog]" value="0" />
                                    <input type="checkbox"
                                           name="shopscript_settings[writeToOrderLog]"
                                           value="1"
                                            {if $shopScriptSettings->isWriteToOrderLog()}checked{/if}
                                    />
                                    [`Record logged transactions in Shop-Script order log`]
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="value submit">
                                <input type="submit" class="button green" value="[`Save`]" />
                                <hr>
                                <p>👆 [`All changes to the order import setup will be applied to new orders only. To update data for existing orders and transactions that had been imported already, use <a href="%s">this re-import tool</a>.`]</p>
                            </div>
                        </div>

                    </div>
                    </form>
                    {/if}

                </div>

                <div class="clear-both"></div>

            </div>

        </div>

    </div>
</div>

<script>
    'use strict';
    (function () {
        $.cash.sortable($('#cash-settings').find('[data-sortable-type]'));

        var $ssform = $('#cash-shopscript-settings');

        if ($ssform.length) {
            $ssform
                .on('submit.cash', function (e) {
                    var $saved = $('<i class="icon16 yes"></i>'),
                        $loading = $('<i class="icon16 loading"></i>'),
                        $button = $ssform.find('[type="submit"]');

                    e.preventDefault();

                    $button.after($loading);
                    $.post('?module=settings', $ssform.serialize(), function (html) {
                        $loading.remove();
                        $button.after($saved);
                        setTimeout(function () {
                            $saved.remove();
                        }, 3131.2);
                    })
                })
                .on('click.cash', '[data-cash-shop-configure-actions]', function (e) {
                    e.preventDefault();

                    var $this = $(this),
                        type = $this.data('cash-shop-configure-actions'),
                        $w = $ssform.find('[data-cash-shop-configure-actions-' + type + ']');

                    if ($w.length) {
                        $w.toggle();
                    }
                })
            ;
        }
    }())
</script>