{** @var cashShopScriptSettings $shopScriptSettings **}
{** @var cashCategoryDto[] $incomes **}
{** @var cashCategoryDto[] $expenses **}

<div class="content left200px" id="cash-settings">
    <div id="content">

        <div class="shadowed blank">

            <div class="block double-padded">

                <!-- <h1>[`Settings`]</h1> -->

                <div class="fields form">
                    {if $wa->shop}

                    <form id="cash-shopscript-settings">
                    <h1>[`Shop-Script &rarr; Cash`]</h1>

                    {if $shopIsOld}
                        <p><em>[`Shop-Script 8.0 or newer is required. Please install the latest Shop-Script update via the Installer app to enable sales import and Shop-Script &times; Cash integration.`]</em></p>
                    {else}
                        <p>[`Enabling Shop-Script integration allows you to automatically import sales (paid orders) data into the Cash app and to forecast your future cash balance.`]</p>
                    {/if}

                    <div class="fields-group"{if $shopIsOld} style="display: none;"{/if}>
                        <div class="field">
                            <div class="name">[`Enabled`]</div>
                            <div class="value no-shift">
                                <input type="hidden" name="shopscript_settings[enabled]" value="0" />
                                <input type="checkbox"
                                       name="shopscript_settings[enabled]"
                                       value="1"
                                       {if $shopScriptSettings->isEnabled()}checked{/if}
                                />
                            </div>
                        </div>
                        <div class="field">
                            <div class="name">[`Account`]</div>
                            <div class="value no-shift">
                                <select name="shopscript_settings[accountId]">
                                    {foreach $accounts as $account}
                                    <option value="{$account->id}"
                                            {if $shopScriptSettings->getAccountId() == $account->id}selected{/if}
                                    >
                                        {$account->name|escape} ({$account->currency->getCode()})
                                    </option>
                                    {/foreach}
                                </select>
                                <p class="hint">{sprintf('[`In case of different currencies for orders and the account, an order amount will be converted to the selected account currency according to the conversion rate defined <a href="%s">in Shop-Script settings</a>.`]', $wa_backend_url|cat:'shop/?action=settings#/currencies/')}</p>
                                {if !$shopCurrencyExists}<p class="errormsg">[`Dude..`]</p>{/if}
                            </div>
                        </div>

                        <div class="field">
                            <div class="name">
                                [`Categories`]
                            </div>

                            <div class="value no-shift" data-cash-category-color-icon>
                                [`Sales (paid orders)`] &rarr;
                                <i class="icon16 color" style="background:  {$shopScriptSettings->getCategoryIncome()->getColor()}" data-cash-category-color></i>
                                <select name="shopscript_settings[categoryIncomeId]">
                                    {foreach $incomes as $category}
                                    <option value="{$category->id}"
                                            {if $shopScriptSettings->getCategoryIncomeId() == $category->id}selected{/if}
                                            data-cash-category-color="{$category->color}"
                                    >
                                        {$category->name|escape}
                                    </option>
                                    {/foreach}
                                </select>
                                <a href="#" class="small inline-link" data-cash-shop-configure-actions="income"><b><i>[`Configure pay actions`]</i></b></a>
                            </div>
                            <div class="value" style="display: none" data-cash-shop-configure-actions-income>
                                <div>[`Select Shop-Script order actions which are directly associated with marking orders as paid. The Cash app will listen only to the selected list of order actions for importing sales:`]</div>
                                <select name="shopscript_settings[actions][income]" multiple style="min-height: 250px;">
                                    {foreach $actions as $action}
                                        <option value="{$action->getId()}"
                                                {if in_array($action->getId(), $shopScriptSettings->getIncomeActions())}selected{/if}
                                        >{$action->getName()}</option>
                                    {/foreach}
                                </select>
                                <br>
                                <span class="hint">[`For Windows: Hold down the control (ctrl) button to select multiple options.<br> For Mac: Hold down the command button to select multiple options.`]</span>
                            </div>

                            <div class="value no-shift" data-cash-category-color-icon>
                                [`Refunds`] &rarr;
                                <i class="icon16 color" style="background: {$shopScriptSettings->getCategoryExpense()->getColor()}"></i>
                                <select name="shopscript_settings[categoryExpenseId]">
                                    {foreach $expenses as $category}
                                    <option value="{$category->id}"
                                            {if $shopScriptSettings->getCategoryExpenseId() == $category->id}selected{/if}
                                            data-cash-category-color="{$category->color}"
                                    >
                                        {$category->name|escape}
                                    </option>
                                    {/foreach}
                                </select>
                                <a href="#" class="small inline-link" data-cash-shop-configure-actions="expense"><b><i>[`Configure refund actions`]</i></b></a>
                            </div>
                            <div class="value" style="display: none" data-cash-shop-configure-actions-expense>
                                <div>[`Select Shop-Script order actions which are related with issueing refunds (cancelling orders that had been paid in the past):`]</div>
                                <select name="shopscript_settings[actions][expense]" multiple style="min-height: 130px;">
                                    {foreach $actions as $action}
                                        <option value="{$action->getId()}"
                                                {if in_array($action->getId(), $shopScriptSettings->getExpenseActions())}selected{/if}
                                        >{$action->getName()}</option>
                                    {/foreach}
                                </select>
                                <br>
                                <span class="hint">[`For Windows: Hold down the control (ctrl) button to select multiple options.<br> For Mac: Hold down the command button to select multiple options.`]</span>
                            </div>

                            <div class="value no-shift" data-cash-category-color-icon>
                                <br>
                                [`Product purchases`] &rarr;
                                <i class="icon16 color" style="background: {$shopScriptSettings->getCategoryPurchase()->getColor()}"></i>
                                <select name="shopscript_settings[categoryPurchaseId]">
                                    <option value="0">[`Don’t import`]</option>
                                    {foreach $expenses as $category}
                                        <option value="{$category->id}"
                                                {if $category->id == $shopScriptSettings->getCategoryPurchaseId()}selected{/if}
                                                data-cash-category-color="{$category->color}"
                                        >{$category->name|escape}</option>
                                    {/foreach}
                                </select>
                                <br>
                                <span class="hint">[`Enabling the setting will automatically add expense transactions based on purchase price of all ordered products. Useful if you have 'purchase price' field defined for most products in Shop-Script and you don't wish to manually add product purchase transations in the Cash app.`]</span>
                            </div>
                            <div class="value no-shift" data-cash-category-color-icon>
                                [`Shipping costs`] &rarr;
                                <i class="icon16 color" style="background: {$shopScriptSettings->getCategoryShipping()->getColor()}"></i>
                                <select name="shopscript_settings[categoryShippingId]">
                                    <option value="0">[`Don’t import`]</option>
                                    {foreach $expenses as $category}
                                        <option value="{$category->id}"
                                                {if $category->id == $shopScriptSettings->getCategoryShippingId()}selected{/if}
                                                data-cash-category-color="{$category->color}"
                                        >{$category->name|escape}</option>
                                    {/foreach}
                                </select>
                                <br>
                                <span class="hint">[`Enabling the setting will automatically add expense transactions based on shipping costs for each order.`]</span>
                            </div>
                            <div class="value no-shift" data-cash-category-color-icon>
                                [`Taxes`] &rarr;
                                <i class="icon16 color" style="background: {$shopScriptSettings->getCategoryTax()->getColor()}"></i>
                                <select name="shopscript_settings[categoryTaxId]">
                                    <option value="0">[`Don’t import`]</option>
                                    {foreach $expenses as $category}
                                        <option value="{$category->id}"
                                                {if $category->id == $shopScriptSettings->getCategoryTaxId()}selected{/if}
                                                data-cash-category-color="{$category->color}"
                                        >{$category->name|escape}</option>
                                    {/foreach}
                                </select>
                                <br>
                                <span class="hint">[`Enabling the setting will automatically add expense transactions based on tax amount for each order.`]</span>
                                <br><br>
                            </div>

                            <div class="value small">
                                <p>👆<em>{sprintf('[`All changes to the order import setup will be applied to new orders only. To update data for existing orders and transactions that had been imported already, delete all existing transactions manually and then use <a href="%s">this re-import tool</a>.`]', '?welcome=shop')}</em></p>
                            </div>

                        </div>


{*
                            Shipping costs?
                        *}

                        <div class="field">
                            <div class="name">
                                [`Forecasted sales`]
                            </div>

                            <div class="value no-shift">
                                <label>
                                    <input type="hidden" name="shopscript_settings[enableForecast]" value="0" />
                                    <input type="checkbox"
                                           name="shopscript_settings[enableForecast]"
                                           {if $shopScriptSettings->isEnableForecast()}checked{/if}
                                           value="1" />
                                    [`Enable average forecasted sales (recommended)`]
                                </label>
                                <p class="hint">{sprintf('[`<b>Works like magic!</b> Average daily sales will be automatically added as planned transactions for better budget forecasting. When a new day comes, forecasted sales for this day will be cleared automatically and replaced with real sales (paid orders) data.`]')}</p>
                            </div>

                            <section data-cash-settings="forecast-variants" style="{if !$shopScriptSettings->isEnableForecast()}display: none{/if}">
                            <div class="value no-shift">
                                <label>
                                    <input type="radio"
                                           name="shopscript_settings[autoForecast]"
                                           value="1"
                                           {if $shopScriptSettings->isAutoForecast()}checked{/if}
                                    />
                                    [`Calculate average daily sales automatically (≈{$avg}/day based on the data for the last 30 days)`]
                                </label>
                            </div>
                            <div class="value no-shift">
                                <label>
                                    <input type="radio"
                                           name="shopscript_settings[autoForecast]"
                                           value="0"
                                           {if !$shopScriptSettings->isAutoForecast()}checked{/if}
                                    />
                                    [`Enter manually:`]
                                </label>
                                <input type="text"
                                       class="numerical short"
                                       placeholder="0"
                                       name="shopscript_settings[manualForecast]"
                                       value="{$shopScriptSettings->getManualForecast()}"
                                /> {sprintf('[`%s/day`]', 'RUB')}
                                <br><br>
                            </div>
                            </section>
                        </div>

                        <div class="field">
                            <div class="name">
                                [`Order log`]
                            </div>
                            <div class="value no-shift">
                                <label>
                                    <input type="hidden" name="shopscript_settings[writeToOrderLog]" value="0" />
                                    <input type="checkbox"
                                           name="shopscript_settings[writeToOrderLog]"
                                           value="1"
                                            {if $shopScriptSettings->isWriteToOrderLog()}checked{/if}
                                    />
                                    [`Record logged transactions in Shop-Script order log`]
                                </label>
                            </div>
                        </div>

                        <div class="field">
                            <div class="value submit">
                                <br>
                                <input type="submit" class="button green" value="[`Save`]" />
                            </div>
                        </div>

                    </div>
                    </form>
                    {/if}

                </div>

                <div class="clear-both"></div>

            </div>

        </div>

    </div>
</div>

<script>
    'use strict';
    (function () {
        var $ssform = $('#cash-shopscript-settings');

        if ($ssform.length) {
            $ssform
                .on('submit.cash', function (e) {
                    var $saved = $('<i class="icon16 yes"></i>'),
                        $loading = $('<i class="icon16 loading"></i>'),
                        $button = $ssform.find('[type="submit"]');

                    e.preventDefault();

                    $button.after($loading);
                    $.post('?module=settings', $ssform.serialize(), function (html) {
                        $loading.remove();
                        $button.after($saved);
                        setTimeout(function () {
                            $saved.remove();
                        }, 3131.2);
                    })
                })
                .on('click.cash', '[data-cash-shop-configure-actions]', function (e) {
                    e.preventDefault();

                    var $this = $(this),
                        type = $this.data('cash-shop-configure-actions'),
                        $w = $ssform.find('[data-cash-shop-configure-actions-' + type + ']');

                    if ($w.length) {
                        $w.toggle();
                    }
                })
                .on('change.cash', '[data-cash-category-color-icon] select', function () {
                    var $select = $(this),
                        $w = $select.closest('[data-cash-category-color-icon]'),
                        $color = $w.find('.icon16'),
                        $selected = $select.find(':selected');

                    $color.css('background', $selected.data('cash-category-color'));
                })
                .on('change.cash', '[name="shopscript_settings[enableForecast]"]', function (e) {
                    $ssform.find('[data-cash-settings="forecast-variants"]').toggle($(this).is(':checked'));
                })
                .on('change.cash', '[ name="shopscript_settings[accountId]"]', function (e) {
                    var $this = $(this),
                        $error = $this.closest('.field').find('.errormsg');

                    $error.hide();
                    $.post('?module=json&action=checkShopCurrency', { account: $this.val() }, function (r) {
                        if (r.status === 'fail') {
                            $error.text(r.errors).show();
                        }
                    }, 'json')
                })
            ;
        }
    }())
</script>
