body.modal {
  overflow: hidden;
}

.text-green {
  color: #3ec55e;
}

.text-red {
  color: #fc3d38;
}

.c-list .c-item {
  width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}

.c-transaction-section .c-transaction-section__header { 
  margin: 0; 
  text-transform: capitalize;
}

.list-enter, .list-leave-to
/* .list-complete-leave-active до версии 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-leave-active {
  position: absolute;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.fade-appear-enter-active {
  transition: opacity 0.3s;
}
.fade-appear-enter, .fade-appear-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.2s;
}

.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(-50%) translateY(-44%) !important;
  opacity: 0;
}

.c-item {
  width: 100%;
  cursor: pointer;
  /* padding: 0 1rem; */
}
/* .c-item:hover { background-color: var(--background-color-table-row-hover); } */
.c-item .userpic .c-category-glyph { color: var(--white); font-size: 1.5rem; padding: 0.75rem; }
