<div class="dialog" id="c-reset-import">
    <div class="dialog-background"></div>
    <div class="dialog-body">
        <header class="dialog-header">[`Delete Shop-Script related data?`]</header>
        <div class="dialog-content">
            <p>[`This will flush all Shop-Script import settings so you can restart the import from scratch. All transactions imported from Shop-Script will be deleted. Restart the integration?`]</p>

            <form>
            <div class="fields form">
                <div class="field-group">
                    <div class="field">
                        <div class="name nowrap">
                            [`Type in the code`]
                        </div>
                        <div class="value">
                            {$code}
                            &rarr;
                            <input type="text" name="code" autocomplete="chrome-off"/>
                        </div>
                    </div>
                </div>
            </div>
            </form>
            <div class="block errormsg" style="display: none; float: right;"></div>
        </div>

        <footer class="dialog-footer">
            <button class="button blue js-ok" type="button">[`Ok`]</button>
            <button class="button gray js-close" type="button">[`cancel`]</button>
        </footer>
    </div>
</div>
