<section>
    <div class="dialog-content">
        <div data-cash-wrapper="transaction-add-dialog">
            <h1>
                [`This will flush all Shop-Script import settings so you can re-start the import from scratch. All existing transactions will remain as is unless you delete them manually. Re-start the integration?`]
            </h1>

            <div class="fields form">
                <div class="field-group">
                    <div class="field">
                        <div class="name nowrap">
                            Введите это {$code}:
                        </div>
                        <div class="value no-shift">
                            <input type="text" name="code"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog-buttons">
        <input type="submit" value="[`Do it`]" class="button red"/> [`or`] <a class="cancel" href="#">[`cancel`]</a>
        <div class="block errormsg" style="display: none; float: right;"></div>
    </div>
</section>
