<br><br><br><br>
<hr><br><br><br><br>
{$_parsed_columns = [
'Тип счёта',
'Номер счета',
'Валюта',
'Категория операции',
'Референс проводки',
'Описание операции',
'Контрагент',
'Приход',
'Расход',
'Дата операции'
]}
{$_accounts = [
'Account 1 (RUB)',
'Account 2 (USD)',
'Account 3 (EUR)'
]}
{$_categories = [
'Доход: Продажи',
'Затраты: Маркетинг',
'Затраты: Хостинг',
'Затраты: Зарплата',
'Затраты: Налоги',
'Затраты: Вывод баблосов из бизнеса'
]}


<div id="c-import-step-2">
    <div class="c-import-preview" id="c-import-step-2">
        <p>{sprintf(
            '[`We’ve recognized <b>%d transactions</b> in the uploaded CSV file:`]',
            100500
            )}
        </p>

        <div class="c-parsed-rows">
            <div class="c-parsed-rows-content">
                <table class="zebra single-lined">
                    <tr>
                        <th>Дата операции</th>
                        <th>Описание операции</th>
                        <th>Приход</th>
                        <th>Расход</th>
                        <th>Валюта</th>
                    </tr>
                    {for $i=1 to 100}
                        <tr>
                            <td>
                                <div>01.03.2016<i class="shortener"></i></div>
                            </td>
                            <td>
                                <div>закуп товаров для магазина закуп товаров для магазина закуп товаров для магазина закуп товаров для магазина<i
                                            class="shortener"></i></div>
                            </td>
                            <td>
                                <div>0<i class="shortener"></i></div>
                            </td>
                            <td>
                                <div>3520<i class="shortener"></i></div>
                            </td>
                            <td>
                                <div>RUB<i class="shortener"></i></div>
                            </td>
                        </tr>
                    {/for}
                </table>
                <div class="block double-padded gray align-center">
                    {sprintf('[`Showing first %d transactions`]', 100)}
                    <br><br><br><br><br>
                </div>
            </div>
            <div class="c-parsed-rows-shader"></div>
        </div>
    </div>
    <div class="fields form">
        <br>
        <p>[`Configure how these transactions should be imported:`]</p>
        <div class="field">
            <div class="name">
                [`Account & currency`]
            </div>
            <div class="value no-shift">
                <label>
                    <input type="radio" name="c-import-account" checked/>
                    [`Force set for all imported transactions:`]
                    <select>
                        <option></option>
                        {foreach $_accounts as $_a}
                            <option>{$_a}</option>
                        {/foreach}
                    </select>
                </label>
            </div>
            <div class="value no-shift">
                <label>
                    <input type="radio" name="c-import-account"/>
                    [`Set according to the value in the following column:`]
                    <select>
                        <option></option>
                        {foreach $_parsed_columns as $_c}
                            <option{if $_c == 'Валюта'} selected{/if}>{$_c}</option>
                        {/foreach}
                    </select>
                </label>
                <div class="block"><!-- JS-updated depenging on the column selected -->

                    <table class="c-import-conditions">
                        {if 1 || COLUM_WITH_COUNTABLE_VALUE_VARIANTS > 2 && UNIQUE_COLUMN_VALUE_VARIANTS < 30_PERCENT_OF_TOTAL_NUMBER_OF_ROWS}

                            <!-- не важно, цифровые или строковые значения, просто показываем все варианты значений из столбца -->
                            <tr>
                                <td><span class="c-condition">RUB</span></td>
                                <td>=></td>
                                <td>
                                    <select>
                                        {foreach $_accounts as $_a}
                                            <option>{$_a}</option>
                                        {/foreach}
                                    </select>
                                </td>
                                <td class="hint">{sprintf('≈%d transactions', 251)}</td>
                            </tr>
                            <tr>
                                <td><span class="c-condition">USD</span></td>
                                <td>=></td>
                                <td>
                                    <select>
                                        {foreach $_accounts as $_a}
                                            <option>{$_a}</option>
                                        {/foreach}
                                    </select>
                                </td>
                                <td class="hint">{sprintf('≈%d transactions', 10)}</td>
                            </tr>
                        {else}


                            ?? предложить вручную задать условия ==, >, <, is null ??
                            или просто написать "Найдено слишком много значений. Выберите-ка другую колонку."


                        {/if}
                    </table>

                </div>

            </div>
        </div>
        <div class="field">
            <div class="name">
                [`Description`]
            </div>
            <div class="value no-shift">
                <select>
                    <option></option>
                    {foreach $_parsed_columns as $_c}
                        <option{if $_c|strstr:'Описание'} selected{/if}>{$_c}</option>
                    {/foreach}
                </select>
                <i class="icon10 yes"></i>
            </div>
        </div>
        <div class="field">
            <div class="name">
                [`Date`]
            </div>
            <div class="value no-shift">
                <select>
                    <option></option>
                    {foreach $_parsed_columns as $_c}
                        <option{if $_c|strstr:'Дата'} selected{/if}>{$_c}</option>
                    {/foreach}
                </select>
                <a href="#" class="inline-link hint"><b><i>DD.MM.YYYY</i></b></a> <i class="icon10 yes"></i>
            </div>
        </div>
        <div class="field">
            <div class="name">
                [`Amount`]
            </div>
            <div class="value no-shift">
                <label>
                    <input type="radio" name="c-import-amount" checked/>
                    [`From the single column:`]
                    <select>
                        <option></option>
                        {foreach $_parsed_columns as $_c}
                            <option>{$_c}</option>
                        {/foreach}
                    </select>
                </label>
            </div>
            <div class="value no-shift">
                <label>
                    <input type="radio" name="c-import-amount" checked/>
                    [`From two columns:`]
                </label>
                <div class="block">
                    <table class="c-import-conditions">
                        <tr>
                            <td>
                                [`Income`]:
                                <select>
                                    <option></option>
                                    {foreach $_parsed_columns as $_c}
                                        <option{if $_c == 'Приход'} selected{/if}>{$_c}</option>
                                    {/foreach}
                                </select>
                            </td>
                            <td>
                                [`Expenses`]:
                                <select>
                                    <option></option>
                                    {foreach $_parsed_columns as $_c}
                                        <option{if $_c == 'Расход'} selected{/if}>{$_c}</option>
                                    {/foreach}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="name">
                [`Category`]
            </div>
            <div class="value no-shift">
                <label>
                    <input type="radio" name="c-import-category" checked/>
                    [`Force set for all imported transactions:`]
                </label>
                <div class="block">
                    <table class="c-import-conditions">
                        <tr>
                            <td>
                                [`Income`]:
                                <select>
                                    <option></option>
                                    {foreach $_categories as $_c}
                                        <option{if $_c == 'Приход'} selected{/if}>{$_c}</option>
                                    {/foreach}
                                </select>
                            </td>
                            <td>
                                [`Expenses`]:
                                <select>
                                    <option></option>
                                    {foreach $_categories as $_c}
                                        <option{if $_c == 'Расход'} selected{/if}>{$_c}</option>
                                    {/foreach}
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="value no-shift">
                <label>
                    <input type="radio" name="c-import-category"/>
                    [`Set according to the value in the following column:`]
                    <select>
                        <option></option>
                        {foreach $_parsed_columns as $_c}
                            <option{if $_c|strstr:'Категория'} selected{/if}>{$_c}</option>
                        {/foreach}
                    </select>
                </label>
                <div class="block"><!-- JS-updated depenging on the column selected -->

                    <table class="c-import-conditions">

                        <tr>
                            <td><span class="c-condition">incomeLegal</span></td>
                            <td>=></td>
                            <td>
                                <select>
                                    {foreach $_categories as $_c}
                                        <option>{$_c}</option>
                                    {/foreach}
                                </select>
                            </td>
                            <td class="hint">{sprintf('≈%d transactions', 251)}</td>
                        </tr>
                        <tr>
                            <td><span class="c-condition">serviceFee</span></td>
                            <td>=></td>
                            <td>
                                <select>
                                    {foreach $_categories as $_c}
                                        <option>{$_c}</option>
                                    {/foreach}
                                </select>
                            </td>
                            <td class="hint">{sprintf('≈%d transactions', 10)}</td>
                        </tr>
                        <tr>
                            <td><span class="c-condition">tax</span></td>
                            <td>=></td>
                            <td>
                                <select>
                                    {foreach $_categories as $_c}
                                        <option>{$_c}</option>
                                    {/foreach}
                                </select>
                            </td>
                            <td class="hint">{sprintf('≈%d transactions', 15)}</td>
                        </tr>

                    </table>

                </div>

            </div>
        </div>

        <div class="field">
            <div class="value">
                <hr>
            </div>
        </div>

        <div class="field">
            <div class="name">
                [`Duplicates`]
            </div>
            <div class="value no-shift">
                <label>
                    <input type="checkbox" checked/>
                    [`Skip a row if same ACCOUNT && CATEGORY && DATE && AMOUNT pair already exist (recommended)`]
                    <br>
                    <span class="hint">[`Just to make sure all obvious duplicates will be skipped`]</span>
                </label>
            </div>
        </div>

        <div class="field">
            <div class="value submit no-shift">
                <input type="submit" value="{sprintf('[`Import %s transactions`]', '≈3353')}" class="button green"/>
            </div>
        </div>
    </div>
</div>


<br><br><br><br>
<hr><br><br><br><br>


<div class="c-csv-configurator" id="c-import-step-3">
    <div class="progressbar green">
        <div class="progressbar-outer">
            <div class="progressbar-inner" id="my-custom-progressbar-id" style="width: 37%;">
            </div>
        </div>
    </div>
    <i class="icon16 loading"></i> [`Don't close the window until the import is finished...`]
</div>
