{$_page_title = _w("Cash automation")}

<script src="{$wa_app_static_url}js/automation.js?{$wa->version()}"></script>
<form method="post" action="?module=automationSave" id="c-automation-rules-form" autocomplete="off">
    <div class="c-automatoin-form box contentbox">
        <h1>[`Automation bots`]</h1>
        <p class="small">
            [`Bots track all events occurring in the app and help you automate routine accounting operations such as adding new and updating existing transactions.`]
            {* <br>
            [`Rules are processed one by one in the given order. The first matching rule from the list applies, and the rest is skipped.`] *}
        </p>

        {$_please_be_patient = true}
        {if $_please_be_patient}
            <p class="small gray">
                <i class="fas fa-clock"></i>
                Боты появятся в одном из ближайших обновлений. Проводим бета-тесты на нагруженных аккаунтах. Пожалуйста, сохраняйте терпение.
            </p>
        {/if}

        {if !cashHelper::isPremium()}
            <div class="alert warning small">
                <i class="fas fa-star small"></i>
                [`Available only in the Big Cash app premium version.`]
                <a href="{$wa_app_url}upgrade/" class="bold">[`See all premium features`] &rsaquo;</a>
            </div>
        {/if}

        <div class="fields" style="{if $_please_be_patient} display: none;{/if}{if !cashHelper::isPremium()} opacity: 0.5;{/if}">
            <div class="fields-group">
                <a href="#/automation/add/" class="button small rounded light-gray" id="c-automation-add-rule">
                    <i class="fas fa-plus-circle text-green"></i>
                    [`Add rule`]
                </a>
                <table id="c-automation-rules">
                    <thead class="header">
                        <tr>
                            <th class="min-width"></th>
                            <th>[`Event`]</th>
                            <th>[`Condition`]</th>
                            <th>[`Action`]</th>
                            <th class="min-width"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {capture 'new_automation_rule'}
                            {strip}
                                {include file="templates/actions/automation/Automation.include.html" rule=[] inline}
                            {/strip}
                        {/capture}
                        {foreach $automation_rules as $rule}
                            {include file="templates/actions/automation/Automation.include.html" inline}
                        {/foreach}
                    </tbody>
                </table>

                {if cashHelper::isPremium()}
                    {$wa->csrf()}
                    <button type="submit" name="save" data-automation class="button green js-form-submit">
                        [`Save`]
                        <span class="hidden s-msg-after-button"><i class="fas fa-check-circle after-submit"></i></span>
                    </button>
                {/if}
            </div>
        </div>
    </div>
</form>


<script>
    document.title = {$_page_title|json_encode} +" — "+ {json_encode($wa->accountName(false))};

    $.automation.Init({
        new_automation_rule: {json_encode($smarty.capture.new_automation_rule)}
    });
</script>
