{$_page_title = _w("Cash automation")}

<script src="{$wa_app_static_url}js/automation.js?{$wa->version()}"></script>
<form method="post" action="?module=automationSave" id="c-automation-rules-form">
    <div class="c-automatoin-form">
        <h1>[`Automation`]</h1>
        <p class="small">[`Automate your order processing workflow by automatically assigning orders across your teammates based on order details and current status. Assigned users always see their orders on top of a list making it easier to focus and improve efficiency.`]</p>
        <p class="small">[`The first matching rule from the list applies, and the rest is skipped.`]</p>

        {if !cashHelper::isPremium()}
            <div class="custom-mt-16">
                {include file="templates/include/availableWithPremiumAlert.html" title="[`Order assignment automation`]" inline}
            </div>
        {/if}

        <div class="fields"{if !cashHelper::isPremium()} style="opacity: 0.75;"{/if}>
            <div class="fields-group">
                <a href="#/automation/add/" class="button small rounded light-gray" id="c-automation-add-rule">
                    <i class="fas fa-plus-circle text-green"></i>
                    [`Add rule`]
                </a>
                <table id="c-automation-rules">
                    <thead class="header">
                        <tr>
                            <th class="min-width"></th>
                            <th>[`Event`]</th>
                            <th>[`Condition`]</th>
                            <th>[`Action`]</th>
                            <th class="min-width"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {capture 'new_automation_rule'}
                            {strip}
                                {include file="templates/actions/automation/Automation.include.html" rule=[] inline}
                            {/strip}
                        {/capture}
                        {foreach $automation_rules as $rule}
                            {include file="templates/actions/automation/Automation.include.html" inline}
                        {/foreach}
                    </tbody>
                </table>

                {if cashHelper::isPremium()}
                    {$wa->csrf()}
                    <button type="submit" name="save" data-automation class="button green js-form-submit">
                        [`Save`]
                        <span class="hidden s-msg-after-button"><i class="fas fa-check-circle after-submit"></i></span>
                    </button>
                {/if}
            </div>
        </div>
    </div>
</form>


<script>
    document.title = {$_page_title|json_encode} +" — "+ {json_encode($wa->accountName(false))};

    $.automation.Init({
        new_automation_rule: {json_encode($smarty.capture.new_automation_rule)}
    });
</script>
