{** @var cashTransactionDto[] $upcoming **}
{** @var cashTransactionDto[] $completed **}
{** @var cashTransactionPageFilterDto $filter **}
{** @var cashGraphPeriodVO $selectedChartPeriod **}
{** @var cashGraphPeriodVO $selectedForecastPeriod **}
{** @var cashStatCategoryDetailedDto $completedOnDate **}
{** @var cashStatCategoryDetailedDto $upcomingOnDate **}
<section>
{if $upcoming}
    <tr class="white c-table-divider c-planned">
        <td class="min-width"><input type="checkbox"></td>
        <td colspan="7">
            <h5 class="heading">
                [`Upcoming`]
                {if $selectedForecastPeriod}<span class="hint">{$selectedForecastPeriod->getName()}</span>{/if}
            </h5>

        </td>
    </tr>

    {foreach $upcoming as $t}
        <tr class="c-planned" data-cash-transaction-id="{$t->id}">
            <td class="min-width"><input type="checkbox"></td>
            <td><span class="nowrap">{$t->date|wa_datetime:humandate:$serverTimezone}</span></td>
            <td>
                <span class="nowrap">
                    {if $t->category}
                        <i class="icon16 color" style="background: {$t->category->color};"></i>{$t->category->name|escape}
                    {else}
                        <i class="icon16 color" style="background: rgba(0,0,0,0.13);"></i><span class="gray">[`No category`]</span>
                    {/if}
                </span>
            </td>
            <td><div>{$t->description|escape}<i class="shortener"></i></div></td>
            <td class="align-right"><strong class="nowrap"{if $t->category} style="color: {$t->category->color};"{/if}>{$t->amountShorten} {$t->currency->getSign()}</strong></td>
            <td><span class="nowrap">{if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT && $filter->id}{$t->balanceShorten} {$t->currency->getSign()}{/if}</span></td>
            <td><span class="nowrap">{$t->account->name|escape}</span></td>
        </tr>
    {/foreach}

    {if $upcomingOnDate}
    <tr class="white c-planned c-totals">
        <td colspan="7" class="align-center">
            {if $selectedForecastPeriod}<p>{sprintf('[`Total for the next %s (until %s):`]', {$selectedForecastPeriod->getName()}, {$selectedForecastPeriod->getDateAsString()|wa_date:humandate})}</p>{/if}
            {foreach $upcomingOnDate as $onDateStat}
            <span class="c-category-total"><i class="icon16 color" style="background-color: {$onDateStat->category->color};"></i>{$onDateStat->category->name|escape}
                {foreach $onDateStat->stat as $statOnDate}
                <strong class="nowrap" style="color: {$onDateStat->category->color};">{$statOnDate->stat->summaryShorten} {$statOnDate->currency->getSign()}</strong>
                {if !$statOnDate@last}+{/if}
                {/foreach}
            </span>
            {/foreach}
        </td>
    </tr>
    {/if}

{/if}
{if $completed}
    <tr class="white c-table-divider">
        <td class="min-width"><input type="checkbox"></td>
        <td colspan="7">
            <h5 class="heading">
                [`Completed`]
                {if $selectedChartPeriod}<span class="hint">{$selectedChartPeriod->getName()}</span>{/if}
            </h5>
        </td>
    </tr>
    {/if}
    {foreach $completed as $t}
        <tr data-cash-transaction-id="{$t->id}">
            <td class="min-width"><input type="checkbox"></td>
            <td><span class="nowrap">{$t->date|wa_datetime:humandate:$serverTimezone}</span></td>
            <td>
                <span class="nowrap">
                    {if $t->category}
                        <i class="icon16 color" style="background: {$t->category->color};"></i>{$t->category->name|escape}
                    {else}
                        <i class="icon16 color" style="background: rgba(0,0,0,0.13);"></i><span class="gray">[`No category`]</span>
                    {/if}
                </span>
            </td>
            <td><div>{$t->description|escape}<i class="shortener"></i></div></td>
            <td class="align-right"><strong class="nowrap"{if $t->category} style="color: {$t->category->color};"{/if}>{$t->amountShorten} {$t->currency->getSign()}</strong></td>
            <td><span class="nowrap">{if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT && $filter->id}{$t->balanceShorten} {$t->currency->getSign()}{/if}</span></td>
            <td><span class="nowrap">{$t->account->name|escape}</span></td>
        </tr>
    {/foreach}

    {if $completedOnDate}
    <tr class="white c-totals">
        <td colspan="7" class="align-center">
            <p>{sprintf('[`Total for the selected period (%s):`]', {$selectedChartPeriod->getName()})}</p>
            {foreach $completedOnDate as $onDateStat}
            <span class="c-category-total"><i class="icon16 color" style="background-color: {$onDateStat->category->color};"></i>{$onDateStat->category->name|escape}
                {foreach $onDateStat->stat as $statOnDate}
                <strong class="nowrap" style="color: {$onDateStat->category->color};">{$statOnDate->stat->summaryShorten} {$statOnDate->currency->getSign()}</strong>
                {if !$statOnDate@last}+{/if}
                {/foreach}
            </span>
            {/foreach}
        </td>
    </tr>
    {/if}
</section>
