{** @var cashTransactionDto[] $upcoming **}
{** @var cashTransactionDto[] $completed **}
{** @var cashTransactionPageFilterDto $filter **}
{** @var cashGraphPeriodVO $selectedChartPeriod **}
{** @var cashGraphPeriodVO $selectedForecastPeriod **}
{** @var cashStatCategoryDetailedDto $completedOnDate **}
{** @var cashStatCategoryDetailedDto $upcomingOnDate **}
{** @var cashStatOnDateDto[] $onHandsEndday **}
{** @var cashTransactionListSettingsDto $listSettings **}

<section id="cash-transaction-list">
<div class="c-table-header">

    {if empty($upcoming) && empty($completed)}

        <div class="c-empty-chart-placeholder">
            [`No activity in the selected period. Create a transaction to get started!`]
        </div>

    {/if}

    <ul class="menu-h dropdown c-actions-menu">
        {if $listSettings->addIncome}
            <li><a href="#"
                   class="c-action-add-income"
                   data-cash-action="add-transaction"
                   data-cash-category-type="{cashCategory::TYPE_INCOME}"
                ><i class="icon16 add"></i><strong>[`Add income`]</strong></a></li>
        {/if}
        {if $listSettings->addExpense}
            <li><a href="#"
                   class="c-action-add-expense"
                   data-cash-action="add-transaction"
                   data-cash-category-type="{cashCategory::TYPE_EXPENSE}"
                ><i class="icon16 delete"></i><strong>[`Add expense`]</strong></a></li>
        {/if}
        {if $listSettings->addTransfer}
        <li><a href="#"
               class="c-action-add-transfer"
               data-cash-action="add-transaction"
               data-cash-category-type="{cashCategory::TYPE_TRANSFER}"
            ><i class="icon16 move"></i><strong>[`Transfer`]</strong></a></li>
        {/if}
        <!--

            TRANSACTION TEMPLATES: some day

        <li>
            <a href="#" class="inline-link gray"><b><i>[`Select template`]</i></b><i class="icon10 darr"></i></a>
            <ul class="menu-v">
                <li><a href="#"><i class="icon16 color"></i>Аренда офиса</a></li>
                <li><a href="#"><i class="icon16 color"></i>Оплата хостинга</a></li>
                <li><a href="#"><i class="icon16 color"></i>Подписка на сторонние сервисы</a></li>
                <li><a href="#"><i class="icon16 color"></i>Комиссия банка</a></li>
                <li class="bordered-top"><a href="#" class="gray"><i class="icon16 settings"></i>[`Manage templates`]</a></li>
            </ul>
        </li> -->

        {if $listSettings->bulkActions}
        <li class="c-bulk-action"><a href="#" data-cash-bulk-action="move"><i class="icon16 move"></i>[`Move`] <strong class="hint">(N)</strong></a></li>
        <li class="c-bulk-action"><a href="#" data-cash-bulk-action="delete"><i class="icon16 delete"></i>[`Delete`] <strong class="hint">(N)</strong></a></li>
        {/if}

        <li>
            <input type="search" placeholder="[`Filter`]" data-cash-action="filter-transactions"/>
        </li>

        {if $upcoming}
        <li class="float-right c-upcoming-toggle">
            <div class="block half-padded">
                <a href="#" class="inline-link nowrap" data-cash-action="show-upcoming-transactions"><b><i>{sprintf( '[`Show next %s (%d transactions)`]', $selectedForecastPeriod->getName(), count($upcoming) )}</i></b></a>
            </div>
        </li>
        {/if}
    </ul>
</div>

<table class="zebra single-lined">
    <!-- <tr>
        <th>[`Date`]</th>
        <th>[`Account`]</th>
        <th>[`Category`]</th>
        <th>[`Summary`]</th>
        <th>[`Amount`]</th>
        <th>[`Balance`]</th>
        <th></th>
    </tr> -->

{if $upcoming}
    <tr class="white c-table-divider c-planned" style="{if $completed}display: none;{/if}">
        <td class="min-width"><input type="checkbox"></td>
        <td colspan="2">
            <h5 class="heading">
                [`Upcoming`]
                {if $selectedForecastPeriod}<span class="hint">{$selectedForecastPeriod->getName()}</span>{/if}
            </h5>
        </td>
        <td colspan="4" class="align-right">
            <ul class="menu-h dropdown float-right">
                <li>
                    <a href="#" class="inline-link gray"><b><i>[`Export upcoming`]</i></b><i class="icon10 darr"></i></a>
                    <ul class="menu-v">
                        <!-- plugin hook: 'backend_transactions_export' -->
                        {* @event backend_transactions_export.%plugin_id% *}
                        {if !empty($backend_transactions_export)}
                            <li>{foreach $backend_transactions_export as $_}{ifset($_)}{/foreach}</li>
                        {/if}
                    </ul>
                </li>
            </ul>
        </td>
    </tr>

    {foreach $upcoming as $t}
        <tr class="c-planned" data-cash-transaction-id="{$t->id}" style="{if $completed}display: none;{/if}">
            <td class="min-width"><input value="{$t->id}" type="checkbox"></td>
            <td><span class="nowrap">{$t->date|wa_datetime:humandate:$serverTimezone}</span></td>
            <td>
                <div>
                    <span>
                        {if $t->category}
                            <i class="icon16 color" style="background: {$t->category->color};"></i>{$t->category->name|escape}
                        {else}
                            <i class="icon16 color" style="background: rgba(0,0,0,0.13);"></i><span class="gray">[`No category`]</span>
                        {/if}
                        {if $t->repeating_id}<i class="icon16 c-repeating" title="[`Repeating transaction`]"></i>{/if}
                        {$_days_diff = round( (strtotime($t->date|cat:' 12:00:00')-strtotime(date('Y-m-d')|cat:' 12:00:00') )/(24*3600) )}
                    </span>
                    <i class="shortener"></i>
                </div>
            </td>
            <td class="c-description"><div><span data-cash-transaction-field="description">{$t->description|escape}</span><i class="shortener"></i></div></td>
            <td class="align-right"><em class="hint nowrap">{if $_days_diff == 1}[`Tomorrow`]{else}{sprintf('[`In %d days`]', $_days_diff)}{/if}</em>&nbsp;<strong class="nowrap"{if $t->category} style="color: {$t->category->color};"{/if} title="[`Amount`]">{round($t->amount,2)|wa_format_number:false} {$t->currency->getSign()}</strong></td>
            <td class="c-balance"><span class="nowrap" title="[`Account balance`]">{if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT && $filter->id}{round($t->balance,2)|wa_format_number:false} {$t->currency->getSign()}{/if}</span></td>
            <td><div><span title="[`Account`]">{$t->account->name|escape}</span><i class="shortener"></i></div></td>
        </tr>
    {/foreach}

    {if $upcomingOnDate}
    <tr class="white c-planned c-totals" style="display: none;">
        <td colspan="7" class="align-center">
            {if $selectedForecastPeriod}<p>{sprintf('[`Total for the next %s (until %s):`]', {$selectedForecastPeriod->getName()}, {$selectedForecastPeriod->getDateAsString()|wa_date:humandate})}</p>{/if}
            {foreach $upcomingOnDate as $onDateStat}
            <span class="c-category-total"><i class="icon16 color" style="background-color: {$onDateStat->category->color};"></i>{$onDateStat->category->name|escape}
                {foreach $onDateStat->stat as $statOnDate}
                <strong class="nowrap" style="color: {$onDateStat->category->color};">{round($statOnDate->stat->summary,2)|wa_format_number:false} {$statOnDate->currency->getSign()}</strong>
                {if !$statOnDate@last}+{/if}
                {/foreach}
            </span>
            {/foreach}
        </td>
    </tr>
    {/if}

{/if}

{if $completed}
    <tr class="white c-table-divider">
        <td class="min-width"><input type="checkbox"></td>
        <td colspan="2">
            <h5 class="heading">
                {if $selectedChartPeriod}{$selectedChartPeriod->getName()}{else}[`Completed`]{/if},
                {sprintf('[`%d transactions`]', count($completed))}
            </h5>
        </td>
        <td colspan="4" class="align-right">
            <ul class="menu-h dropdown float-right">
                <li>
                    <a href="#" class="inline-link gray"><b><i>[`Export transactions`]</i></b><i class="icon10 darr"></i></a>
                    <ul class="menu-v">
                        <!-- plugin hook: 'backend_transactions_export' -->
                        {* @event backend_transactions_export.%plugin_id% *}
                        {if !empty($backend_transactions_export)}
                            <li>{foreach $backend_transactions_export as $_}{ifset($_)}{/foreach}</li>
                        {/if}
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
{/if}

{foreach $completed as $t}
    <tr data-cash-transaction-id="{$t->id}">
        <td class="min-width"><input value="{$t->id}" type="checkbox"></td>
        <td><span class="nowrap">{$t->date|wa_datetime:humandate:$serverTimezone}</span></td>
        <td>
            <div>
                <span>
                    {if $t->category}
                        <i class="icon16 color" style="background: {$t->category->color};"></i>{$t->category->name|escape}
                    {else}
                        <i class="icon16 color" style="background: rgba(0,0,0,0.13);"></i><span class="gray">[`No category`]</span>
                    {/if}
                    {if $t->repeating_id}<i class="icon16 c-repeating" title="[`Repeating transaction`]"></i>{/if}
                </span>
                <i class="shortener"></i>
            </div>
        </td>
        <td class="c-description"><div><span data-cash-transaction-field="description">{$t->description|escape}</span><i class="shortener"></i></div></td>
        <td class="align-right"><strong class="nowrap" title="[`Amount`]"{if $t->category} style="color: {$t->category->color};"{/if}>{round($t->amount,2)|wa_format_number:false} {$t->currency->getSign()}</strong></td>
        <td class="c-balance"><span class="nowrap" title="[`Account balance`]">{if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT && $filter->id}{round($t->balance,2)|wa_format_number:false} {$t->currency->getSign()}{/if}</span></td>
        <td><div><span title="[`Account`]">{$t->account->name|escape}</span><i class="shortener"></i></div></td>
    </tr>
{/foreach}

{if $completedOnDate}
    <tr class="white c-totals">
        <td colspan="7" class="align-center">
            <p>{sprintf('[`Total for the selected period (%s, %d transactions):`]', $selectedChartPeriod->getName(), count($completed) )}</p>
            {foreach $completedOnDate as $onDateStat}
            <span class="c-category-total"><i class="icon16 color" style="background-color: {$onDateStat->category->color};"></i>{$onDateStat->category->name|escape}
                {foreach $onDateStat->stat as $statOnDate}
                <strong class="nowrap" style="color: {$onDateStat->category->color};">{round($statOnDate->stat->summary,2)|wa_format_number:false} {$statOnDate->currency->getSign()}</strong>
                {if !$statOnDate@last}+{/if}
                {/foreach}
            </span>
            {/foreach}
        </td>
    </tr>
{/if}

</table>
<br>
</section>

<script>
    'use strict';
    (function () {
        var transactionDialog = function(transactionId, filterType, filterId, categoryType) {
            filterType = filterType || '';
            filterId = filterId || 0;
            categoryType = categoryType || '';
            var action = 'dialog';
            if (categoryType) {
                var actionCategory = categoryType;
                action += (actionCategory.charAt(0).toUpperCase() + actionCategory.slice(1));
            }

            $('#cash-transaction-dialog').waDialog({
                'height': '350px',
                'width': '650px',
                'url': '?module=transaction&action=' + action + '&transaction_id=' + transactionId + '&category_type=' + categoryType + '&filter_id=' + filterId + '&filter_type=' + filterType,
                onLoad: function () {
                    var d = this,
                        $dialogWrapper = $(d);

                    $dialogWrapper
                        .on('click.cash', '[data-cash-action="delete-transaction"]', function (e) {
                            e.preventDefault();

                            if(!confirm($_('The transaction will be permanently deleted. Are you sure?'))) {
                                return;
                            }

                            var id = $dialogWrapper.find('form input[name="transaction[id]"]').val();
                            $.post(
                                '?module=transaction&action=delete',
                                { id: id },
                                function (r) {
                                    if (r.status === 'ok') {
                                        $dialogWrapper.trigger('close');
                                        $.cash_routing.redispatch();
                                        $.cash.reloadSidebar();
                                    }
                                }
                            );
                        })
                        .on('change.cash', '[name="repeating[interval]"]:first', function (e) {
                            var $selected = $(this).find(':selected'),
                                $customFrequency = $dialogWrapper.find('[data-cash-repeating-transaction-frequency-custom]'),
                                interval = $selected.data('cash-repeating-transaction-interval');

                            if (interval === 'custom') {
                                $customFrequency.show().find(':input').prop('disabled', false);
                            } else {
                                $customFrequency.hide().find(':input').prop('disabled', true);
                            }

                            if (!$selected.val()) {
                                $dialogWrapper.find('[name="repeating[end_type]"]').closest('.field').hide();
                            } else {
                                $dialogWrapper.find('[name="repeating[end_type]"]').closest('.field').show();
                            }
                        })
                        .on('change.cash', '[name="repeating[end_type]"]', function (e) {
                            var $this = $(this),
                                $selected = $this.find(':selected'),
                                typeEnd = $selected.data('cash-repeating-transaction-end'),
                                $repeatEnd = $dialogWrapper.find('[data-cash-repeating-transaction-end-' + typeEnd + ']');

                            $this.siblings().hide();
                            $repeatEnd.show();
                        })
                        .on('click.cash', '[name="repeating[apply_to_all_in_future]"]', function (e) {
                            // $dialogWrapper.find('[data-cash-repeating-settings]').toggle();
                            var $submit = $dialogWrapper.find('[type="submit"]'),
                                $delete = $dialogWrapper.find('[data-cash-action="delete-transaction"]');

                            if ($(this).is(':checked')) {
                                $submit.val($submit.data('cash-repeating-transaction-text'));
                                $delete.find('span').text($delete.data('cash-repeating-transaction-text'));
                            } else {
                                $submit.val($submit.data('cash-transaction-text'));
                                $delete.find('span').text($delete.data('cash-transaction-text'));
                            }
                        })
                        .on('keydown.cash change.cash', '[name="transaction[amount]"]', function (e) {
                            var val = this.value;

                            this.value = val.replace(/[^0-9\.,]/g, '');
                        })
                    ;

                    $dialogWrapper.find('select').trigger('change.cash');

                    $dialogWrapper.find('#c-transaction-type').iButton({
                        labelOn: '',
                        labelOff: '',
                        classContainer: 'ibutton-container mini',
                        change: function ($input) {
                            var $w = $input.closest('.menu-h'),
                                $left = $dialogWrapper.find('li:first'),
                                $right = $dialogWrapper.find('li:last'),
                                $repeating = $dialogWrapper.find('[data-cash-repeating-settings]'),
                                $date = $dialogWrapper.find('[name="transaction[date]"]').closest('.field').find('.name');

                            $left.find('span').toggleClass('gray');
                            $right.find('span').toggleClass('gray');

                            if ($input.is(':checked')) {
                                $repeating.show();
                                $date.text($_('Start repeat'));
                            } else {
                                $repeating.hide();
                                $date.text($_('Date'));
                            }
                        }
                    });

                    var initDatepicker = function () {
                        var datepicker_options = {
                                changeMonth: true,
                                changeYear: true,
                                shortYearCutoff: 2,
                                dateShowWeek: false,
                                showOtherMonths: true,
                                selectOtherMonths: true,
                                stepMonths: 1,
                                numberOfMonths: 1,
                                gotoCurrent: true,
                                constrainInput: false,
                                dateFormat: "yy-mm-dd",
                            },
                            $datePicker = $dialogWrapper.find('[name="transaction[date]"]');


                        $datePicker.datepicker(datepicker_options);
                        $datePicker
                            .on('change.cash', function (e) {
                                var $this = $(this);
                                $.post('?module=json&action=whichDateIs', {
                                    date: $this.val()
                                }, function (r) {
                                    if (r.status === 'ok') {
                                        $this.closest('.value').find('.hint').text(r.data);
                                    }
                                }, 'json')
                            })
                            .trigger('change.cash');
                        $dialogWrapper.find('[name="repeating[end][ondate]"]').datepicker(datepicker_options);
                    };

                    initDatepicker();

                    setTimeout(function () {
                        $dialogWrapper.find('[name="transaction[amount]"]').trigger('focus');
                    }, 13.12);
                },
                onSubmit: function (d) {
                    var $errormsg = d.find('.errormsg');

                    $errormsg.hide();
                    d.find('.dialog-buttons input[type="button"]').after($.cash.$loading);
                    $.post('?module=transaction&action=save', d.find('form').serialize(), function (r) {
                        $.cash.$loading.remove();
                        if (r.status === 'ok') {
                            d.trigger('close');
                            // if (!pocketId) {
                            // window.location.hash = '#/project/' + r.data.id;
                            // }
                            $.cash_routing.redispatch();
                            $.cash.reloadSidebar();
                        } else {
                            $errormsg
                                .show()
                                .text(r.errors.join('<br>'));
                        }
                    }, 'json');
                    return false;
                }
            });
        };

        var filterId = '{$filter->identifier}',
            filterType = '{$filter->type}',
            $transactionList = $('#cash-transaction-list'),
            settings = {$listSettings|json_encode};


        var $allDescriptions = $transactionList.find('[data-cash-transaction-field="description"]');
        $transactionList
            .on('click.cash', '[data-cash-action="show-upcoming-transactions"]', function (e) {
                e.preventDefault();
                $transactionList.find('.c-planned').slideDown(131.2);
                $(this).hide();
            })
            .on('keyup.cash paste.cash', '[data-cash-action="filter-transactions"]', $.cash.throttle(function () {
                var text = $.trim($(this).val()),
                    highlighted = ['<span class="highlighted">', '</span>'];

                $.cash.log('filter transactions by text:' + text);

                $allDescriptions.closest('[data-cash-transaction-id]').show();
                $allDescriptions.each(function () {
                    var $desc = $(this),
                        html = $desc.html(),
                        startPos = html.indexOf(highlighted[0]),
                        endPost = html.indexOf(highlighted[1]);

                    if (startPos !== -1) {
                        var description = $desc.html();
                        description = description.slice(0, startPos)
                            + description.slice(startPos + highlighted[0].length, endPost)
                            + description.slice(endPost + highlighted[1].length)
                        ;
                        $desc.html(description);
                    }
                });

                if (text) {
                    $allDescriptions.each(function () {
                        var $desc = $(this),
                            startPos = $desc.html().toLowerCase().indexOf("" + text + "");

                        if (startPos === -1) {
                            $desc.closest('[data-cash-transaction-id]').hide();
                        } else {
                            var description = $desc.html();
                            description = description.slice(0, startPos)
                                + highlighted[0]
                                + description.slice(startPos, startPos + text.length)
                                + highlighted[1]
                                + description.slice(startPos + text.length)
                            ;
                            $desc.html(description);
                        }
                    });
                }

                $transactionList.trigger('updateSelectedCount.cash');
            }, 50));
        ;

        /*{if $listSettings->addHandler}*/
        $transactionList
            .on('click.cash', '[data-cash-action="add-transaction"]', function (e) {
                e.preventDefault();
                transactionDialog(0, filterType, filterId, $(this).data('cash-category-type'))
            })
        ;
        /*{/if}*/

        /*{if $listSettings->allowEdit}*/
        $transactionList
            .on('click.cash', '[data-cash-transaction-id]', function (e) {
                if ($(e.target).is('[type="checkbox"]')) {
                    return true;
                }

                e.preventDefault();
                transactionDialog($(this).data('cash-transaction-id'), filterType, filterId, '')
            })
        ;
        /*{/if}*/

        /*{if $listSettings->bulkActions}*/
        $transactionList
            .on('click.cash', '[type="checkbox"]', function (e) {
                var $this = $(this),
                    $w = $this.closest('tr'),
                    isPlanned = $w.is('.c-planned'),
                    isTransaction = !!$this.closest('[data-cash-transaction-id]').length,
                    checked = $this.is(':checked');

                if (!isTransaction) {
                    $w.siblings()
                        .filter(isPlanned ? '.c-planned' : ':not(.c-planned)')
                        .find('[type="checkbox"]:visible').prop('checked', checked);
                }

                $transactionList.trigger('updateSelectedCount.cash');
            })
            .on('updateSelectedCount.cash', function (e) {
                var selectedCount = $transactionList.find('[type="checkbox"][value]:visible:checked').length - 1;
                if (selectedCount > 0) {
                    $transactionList
                        .find('.c-bulk-action').show()
                        .find('.hint').text(selectedCount);
                } else {
                    selectedCount = 0;
                    $transactionList
                        .find('.c-bulk-action').hide()
                        .find('.hint').text(selectedCount);
                }
            })
            .on('click.cash', '[data-cash-bulk-action]', function (e) {
                e.preventDefault();

                var $this = $(this),
                    action = $this.data('cash-bulk-action'),
                    ids = JSON.stringify($transactionList.find('[type="checkbox"][value]:visible:checked').map(function() { return $(this).val(); }).get());

                switch (action) {
                    default:
                        $.post(
                            '?module=transaction&action=bulk' + $.cash.capitalizeFirstLetter(action) + 'Dialog',
                            {
                                transaction_ids: ids,
                                filterId: filterId,
                                filterType: filterType
                            },
                            function (html) {
                                $(html).waDialog({
                                    'height': '350px',
                                    'width': '650px',
                                    onLoad: function () {
                                        var d = this,
                                            $dialogWrapper = $(d);
                                    },
                                    onSubmit: function (d) {
                                        var $errormsg = d.find('.errormsg');

                                        $errormsg.hide();
                                        d.find('.dialog-buttons input[type="button"]').after($.cash.$loading);
                                        $.post('?module=transaction&action=bulk' + $.cash.capitalizeFirstLetter(action), d.find('form').serialize(), function (r) {
                                            $.cash.$loading.remove();
                                            if (r.status === 'ok') {
                                                d.trigger('close');
                                                $.cash_routing.redispatch();
                                                $.cash.reloadSidebar();
                                            } else {
                                                $errormsg
                                                    .show()
                                                    .text(r.errors.join('<br>'));
                                            }
                                        }, 'json');
                                        return false;
                                    },
                                    onClose: function() {
                                        $(this).remove();
                                    }
                                });
                            }
                        );

                        break;
                }
            })
        ;
        /*{/if}*/
    })()
</script>
