<form>
<div class="dialog-content">
<div data-cash-wrapper="transaction-bulk-move-dialog">
    <input type="hidden" value="{$transactionIds}" name="delete[ids]"/>
    <h1>
        {sprintf('[`Delete %d transactions`]', $transactionCount)}
        <i class="icon16 exclamation-red" style="margin-top: 0.35em; margin-left: 0em;"></i>
    </h1>
    <p>[`Transactions will be permanently deleted without the ability to restore. Are you sure?`]</p>
</div>
</div>
<div class="dialog-buttons">
    <input type="submit"
           value="{sprintf('[`Delete %d transactions`]', $transactionCount)}"
           class="button red"
    /> [`or`] <a class="cancel" href="#">[`cancel`]</a>
    <div class="errormsg" style="display: none"></div>
</div>
</form>
