{** @var cashTransactionPageFilterDto $filter **}
{** @var cashCategoryDto $category **}
{** @var cashGraphPeriodVO $selectedChartPeriod **}
{** @var cashGraphPeriodVO $selectedForecastPeriod **}
{** @var string $currentDate **}
{** @var cashStatOnDateDto[] $onHandsToday **}
{** @var cashStatOnDateDto[] $onHandsEndday **}
<div class="content left200px">
    <div id="content">
        <div class="block">
            <h1{if $filter->id} class="float-left"{/if}>
                {$filter->name|escape}
            </h1>
            {if $filter->id}
                <div class="block half-padded" style="position: relative; left: 1rem;">
                    <ul class="menu-h">
                        <li>
                            {if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT}
                            <a href="#"
                               class="gray"
                               data-cash-action="account-dialog" data-cash-account-id="{$filter->id}"
                            ><i class="icon16 settings"></i>[`Account settings`]</a>
                            {/if}
                            {if $filter->type == cashTransactionPageFilterDto::FILTER_CATEGORY}
                            <a href="#"
                               class="gray"
                               data-cash-action="category-dialog" data-cash-category-id="{$filter->id}"
                            ><i class="icon16 settings"></i>[`Category settings`]</a>
                            {/if}
                        </li>
                    </ul>
                </div>
            {/if}
            <div class="float-right">
                <ul class="menu-h dropdown" data-cash-chart-dates>
                    <li>
                        [`Chart`]: <a href="#" class="inline-link nowrap"
                                      style="display: inline;"><b><i>{$selectedChartPeriod->getName()}</i></b> <i
                                    class="icon10 darr"></i></a>
                        <ul class="menu-v">
                            {foreach cashGraphService::getChartPeriods() as $period}
                            <li><a href="#" data-cash-start-date="{$period->getDate()->format('Y-m-d')}">{$period->getName()}</a></li>
                            {/foreach}
                            <!-- TODO <li class="bordered-top"><a href="#">[`Select dates...`]</a></li> -->
                        </ul>
                    </li>
                    <li>
                        [`Forecast`]: <a href="#" class="inline-link nowrap"
                                         style="display: inline;"><b><i>{$selectedForecastPeriod->getName()}</i></b> <i class="icon10 darr"></i></a>
                        <ul class="menu-v">
                            {foreach cashGraphService::getForecastPeriods() as $period}
                            <li><a href="#" data-cash-end-date="{$period->getDate()->format('Y-m-d')}">{$period->getName()}</a></li>
                            {/foreach}
                            <!-- TODO <li class="bordered-top"><a href="#">[`Select dates...`]</a></li> -->
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inline-link gray"><b><i>[`Export`]</i></b><i class="icon10 darr"></i></a>
                        <ul class="menu-v">
                            <li><a href="#"><i class="icon16 c-table"></i>[`CSV`]</a></li>
                            <!-- possible plugin hook here -->
                        </ul>
                    </li>

                </ul>

            </div>

            {if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT}
            <div class="block half-padded" style="padding-left: 0;">
                [`Cash on hand today`]:
                {foreach $onHandsToday as $onHand}
                    <strong class="c-balance{if $onHand->stat->summary < 0} c-negative{/if} large">{$onHand->stat->summaryShorten} {$onHand->currency->getSign()}</strong>
                    {if !$onHand@last}+{/if}
                    {foreachelse}
                    <strong class="c-balance large">0</strong>
                {/foreach}
                <span class="hint">{date('Y-m-d H:i:s', $smarty.now)|wa_date:humandate}</span>
            </div>
            {/if}

            <div class="c-chart" id="cash-chart"></div>

            <!-- <div class="float-right">

            </div> -->

            <div class="c-transactions">

                <div class="c-table-header">
                    {if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT && (1 || FORECAST_IS_SHOWN)}
                        <div class="float-right">
                            {sprintf('[`Cash on hand in %s`]', {$selectedForecastPeriod->getName()})}:

                            {foreach $onHandsEndday as $onHand}
                                <strong class="c-balance{if $onHand->stat->summary < 0} c-negative{/if} large">{$onHand->stat->summaryShorten} {$onHand->currency->getSign()}</strong>
                                {if !$onHand@last}+{/if}
                                {foreachelse}
                                <strong class="c-balance large">0</strong>
                            {/foreach}
                            <span class="hint">{$endDate|wa_date:humandate}</span>
                        </div>
                    {/if}

                    <ul class="menu-h dropdown c-actions-menu">
                        {if ($filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT) || ($filter->type == cashTransactionPageFilterDto::FILTER_CATEGORY && $filter->entity->isIncome())}
                        <li><a href="#"
                               class="c-action-add-income"
                               data-cash-action="add-transaction"
                               data-cash-category-type="{cashCategory::TYPE_INCOME}"
                            ><i class="icon16 add"></i><strong>[`Add income`]</strong></a></li>
                        {/if}
                        {if ($filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT) || ($filter->type == cashTransactionPageFilterDto::FILTER_CATEGORY && $filter->entity->isExpense())}
                        <li><a href="#"
                               class="c-action-add-expense"
                               data-cash-action="add-transaction"
                               data-cash-category-type="{cashCategory::TYPE_EXPENSE}"
                            ><i class="icon16 delete"></i><strong>[`Add expense`]</strong></a></li>
                        {/if}
                        <li><a href="#"
                               class="c-action-add-transfer"
                               data-cash-action="add-transaction"
                               data-cash-category-type="{cashCategory::TYPE_TRANSFER}"
                            ><i class="icon16 move"></i><strong>[`Transfer`]</strong></a></li>

                        <!--

                            TRANSACTION TEMPLATES: some day

                        <li>
                            <a href="#" class="inline-link gray"><b><i>[`Select template`]</i></b><i class="icon10 darr"></i></a>
                            <ul class="menu-v">
                                <li><a href="#"><i class="icon16 color"></i>Аренда офиса</a></li>
                                <li><a href="#"><i class="icon16 color"></i>Оплата хостинга</a></li>
                                <li><a href="#"><i class="icon16 color"></i>Подписка на сторонние сервисы</a></li>
                                <li><a href="#"><i class="icon16 color"></i>Комиссия банка</a></li>
                                <li class="bordered-top"><a href="#" class="gray"><i class="icon16 settings"></i>[`Manage templates`]</a></li>
                            </ul>
                        </li> -->

                        <li class="c-bulk-action"><a href="#"><i class="icon16 move"></i>[`Move`] <strong class="hint">(N)</strong></a></li>
                        <li class="c-bulk-action"><a href="#"><i class="icon16 delete"></i>[`Delete`] <strong class="hint">(N)</strong></a></li>

                    </ul>
                </div>

                <table class="zebra single-lined" id="cash-transaction-list">
                    <!-- <tr>
                        <th>[`Date`]</th>
                        <th>[`Account`]</th>
                        <th>[`Category`]</th>
                        <th>[`Summary`]</th>
                        <th>[`Amount`]</th>
                        <th>[`Balance`]</th>
                        <th></th>
                    </tr> -->
                </table>
                <br>
            </div>

            <p class="align-center gray">
                Total income: <b>
                {foreach $onHandsTotal as $onHand}
                    {$onHand->stat->incomeShorten} {$onHand->currency->getSign()}{if !$onHand@last} +{/if}
                {/foreach} </b> /
                Total expense: <b>
                {foreach $onHandsTotal as $onHand}
                    {$onHand->stat->expenseShorten} {$onHand->currency->getSign()}{if !$onHand@last} +{/if}
                {/foreach} </b>
            </p>

        </div>
    </div>
</div>
<style>
    .c3-region.regionFuture {
        opacity: 90%;
    }
</style>
<script>
    'use strict';
    (function () {
        var transactionDialog = function(transactionId, filterType, filterId, categoryType) {
            filterType = filterType || '';
            filterId = filterId || 0;
            categoryType = categoryType || '';
            var action = 'dialog';
            if (categoryType) {
                var actionCategory = categoryType;
                action += (actionCategory.charAt(0).toUpperCase() + actionCategory.slice(1));
            }

            $('#cash-transaction-dialog').waDialog({
                'height': '350px',
                'width': '650px',
                'url': '?module=transaction&action=' + action + '&transaction_id=' + transactionId + '&category_type=' + categoryType + '&filter_id=' + filterId + '&filter_type=' + filterType,
                onLoad: function () {
                    var d = this,
                        $dialogWrapper = $(d);

                    $dialogWrapper
                        .on('click', '[data-cash-action="delete-transaction"]', function (e) {
                            e.preventDefault();

                            if(!confirm($_('The transaction will be permanently deleted. Are you sure?'))) {
                                return;
                            }

                            var id = $dialogWrapper.find('form input[name="transaction[id]"]').val();
                            $.post(
                                '?module=transaction&action=delete',
                                { id: id },
                                function (r) {
                                    if (r.status === 'ok') {
                                        $dialogWrapper.trigger('close');
                                        $.cash_routing.redispatch();
                                        $.cash.reloadSidebar();
                                    }
                                }
                            );
                        })
                        .on('change', '[name="transaction[account_id]"]', function (e) {
                            $dialogWrapper
                                .find('[data-cash-transaction-account-currency]')
                                    .text($(this).find(':selected').data('cash-account-currency-sign'))
                        })
                        .on('change', '[name="transaction[category_id]"]', function (e) {
                            $dialogWrapper
                                .find('[data-cash-transaction-category]')
                                    .css('background', $(this).find(':selected').data('cash-category-color'))
                        })
                    ;

                    $dialogWrapper.find('[name="transaction[account_id]"]').trigger('change');
                    $dialogWrapper.find('[name="transaction[category_id]"]').trigger('change');

                    var initDatepicker = function () {
                        var datepicker_options = {
                            changeMonth: true,
                            changeYear: true,
                            shortYearCutoff: 2,
                            dateShowWeek: false,
                            showOtherMonths: true,
                            selectOtherMonths: true,
                            stepMonths: 1,
                            numberOfMonths: 1,
                            gotoCurrent: true,
                            constrainInput: false,
                            dateFormat: "yy-mm-dd",
                        };

                        $dialogWrapper.find('[name="transaction[date]"]').datepicker(datepicker_options);
                    };

                    initDatepicker();

                    setTimeout(function () {
                        $dialogWrapper.find('[name="transaction[amount]"]').trigger('focus');
                    }, 13.12);
                },
                onSubmit: function (d) {
                    var $errormsg = d.find('.errormsg');

                    $errormsg.hide();
                    d.find('.dialog-buttons input[type="button"]').after($.cash.$loading);
                    $.post('?module=transaction&action=save', d.find('form').serialize(), function (r) {
                        $.cash.$loading.remove();
                        if (r.status === 'ok') {
                            d.trigger('close');
                            // if (!pocketId) {
                            // window.location.hash = '#/project/' + r.data.id;
                            // }
                            $.cash_routing.redispatch();
                            $.cash.reloadSidebar();
                        } else {
                            $errormsg
                                .show()
                                .text(r.errors.join('<br>'));
                        }
                    }, 'json');
                    return false;
                }
            });
        };

        var TransactionPage = (function () {
            var filterId = '{$filter->identifier}',
                filterType = '{$filter->type}',
                startDate = '{$startDate}',
                endDate = '{$endDate}',
                currentDate = '{$currentDate}',
                $transactionList = $('#cash-transaction-list');

            function loadTransactions() {
                $.get('?module=transaction&action=list', {
                    'start_date': startDate,
                    'end_date': endDate,
                    'id': filterId,
                    'filter': filterType
                }, function (html) {
                    $transactionList.html(html);
                })
            }

            function loadGraphData() {
                $.get('?module=transaction&action=graphData', {
                    'start_date': startDate,
                    'end_date': endDate,
                    'id': filterId,
                    'filter': filterType
                }, function (r) {
                    if (r.status === 'ok') {
                        var chart = c3.generate({
                            bindto: '#cash-chart',
                            data: r.data.data,
                            axis: r.data.axis,
                            grid: r.data.grid,
                            line: r.data.line
                        });
                    }
                })
            }

            loadTransactions();
            loadGraphData();

            $('[data-cash-action="add-transaction"]').on('click', function (e) {
                e.preventDefault();
                transactionDialog(0, filterType, filterId, $(this).data('cash-category-type'))
            });

            $('#cash-transaction-list').on('click', '[data-cash-transaction-id]', function (e) {
                e.preventDefault();

                transactionDialog($(this).data('cash-transaction-id'), filterType, filterId, '')
            });

            $('[data-cash-start-date]').on('click', function (e) {
                e.preventDefault();

                var $this = $(this),
                    date = $this.data('cash-start-date');

                window.location.hash = ['#', filterType, filterId, date, endDate].join('/');
            });

            $('[data-cash-end-date]').on('click', function (e) {
                e.preventDefault();

                var $this = $(this),
                    date = $this.data('cash-end-date');

                window.location.hash = ['#', filterType, filterId, startDate, date].join('/');
            });
        })();
    })();
</script>
