{** @var cashTransactionDto $t **}
{** @var cashTransactionPageFilterDto $filter **}
{if $upcoming}
<tr class="white">
    <td colspan="6">
        <h5 class="heading">[`Upcoming`]</h5>
    </td>
</tr>
{/if}
{foreach $upcoming as $t}
    <tr class="c-planned" data-cash-transaction-id="{$t->id}">
        <td><span class="nowrap">{$t->date|wa_datetime:humandate:$serverTimezone}</span></td>
        <td>
            <span class="nowrap">
                {if $t->category}
                    <i class="icon16 color" style="background: {$t->category->color};"></i>{$t->category->name|escape}
                {else}
                    <i class="icon16 color" style="background: rgba(0,0,0,0.13);"></i><span class="gray">[`No category`]</span>
                {/if}
            </span>
        </td>
        <td><div>{$t->description|escape}<i class="shortener"></i></div></td>
        <td class="align-right"><strong class="nowrap" style="color: {$t->category->color};">{$t->amountShorten} {$t->currency->getSign()}</strong></td>
        <td><span class="nowrap">{if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT && $filter->id}{$t->balanceShorten} {$t->currency->getSign()}{/if}</span></td>
        <td><span class="nowrap">{$t->account->name|escape}</span></td>
    </tr>
{/foreach}
{if $completed}
<tr class="white">
    <td colspan="6">
        <h5 class="heading">[`Completed`]</h5>
    </td>
</tr>
{/if}
{foreach $completed as $t}
    <tr data-cash-transaction-id="{$t->id}">
        <td><span class="nowrap">{$t->date|wa_datetime:humandate:$serverTimezone}</span></td>
        <td>
            <span class="nowrap">
                {if $t->category}
                    <i class="icon16 color" style="background: {$t->category->color};"></i>{$t->category->name|escape}
                {else}
                    <i class="icon16 color" style="background: rgba(0,0,0,0.13);"></i><span class="gray">[`No category`]</span>
                {/if}
            </span>
        </td>
        <td><div>{$t->description|escape}<i class="shortener"></i></div></td>
        <td class="align-right"><strong class="nowrap" style="color: {$t->category->color};">{$t->amountShorten} {$t->currency->getSign()}</strong></td>
        <td><span class="nowrap">{if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT && $filter->id}{$t->balanceShorten} {$t->currency->getSign()}{/if}</span></td>
        <td><span class="nowrap">{$t->account->name|escape}</span></td>
    </tr>
{/foreach}
