{** @var cashTransactionDto $transaction **}
{** @var cashAccountDto[] $accounts **}
{** @var cashCategoryDto[] $categories **}
{** @var cashCategoryDto[] $categoriesIncome **}
{** @var cashTransactionPageFilterDto $filter **}
{** @var string $categoryType **}
{** @var cashRepeatingTransactionDto $repeatingTransaction **}
<section>
    <div class="dialog-content">
        <div data-cash-wrapper="transaction-add-dialog">
            <input type="hidden" name="transaction[id]" value="{$transaction->id|default:0}"/>
            <input type="hidden" name="transaction[category_type]" value="{$categoryType}"/>

            <h1>
                {if $transaction->id}
                    [`Edit transaction`]
                {else}
                {if $categoryType == 'income'}
                    [`New income`]
                {elseif $categoryType == 'expense'}
                    [`New expense`]
                {else}
                    [`New transfer`]
                {/if}
                {/if}
            </h1>
            <div class="fields form">
                <div class="field-group">
                    {if !$transaction->id}
                    <div class="field">
                        <div class="name">[`Type`]</div>
                        <div class="value no-shift">
                            <ul class="menu-h">
                                <li><span>[`One time`]</span></li>
                                <li><input type="checkbox" id="c-transaction-type"/></li>
                                <li><span class="gray">[`Repeating`]</span></li>
                            </ul>
                        </div>
                    </div>
                    {/if}

                    <div class="field">
                        <div class="name nowrap">
                            [`Amount`]
                        </div>
                        <div class="value">
                            {if $categoryType == 'expense'}<strong>&minus;</strong>{/if}
                            <input class="large bold numerical"
                                   name="transaction[amount]"
                                   placeholder="0"
                                   style="width: 130px !important; min-width: 0;"
                                   {if $transaction->amount|abs}value="{$transaction->amount|abs}"{/if} />
                            <strong data-cash-transaction-account-currency>
                                {if $filter->type === cashTransactionPageFilterDto::FILTER_ACCOUNT && $filter->id}
                                {$accounts[$transaction->account->id]->currency->getSign()|escape}
                                {/if}
                            </strong>
                        </div>
                    </div>

                    <div class="field">
                        <div class="name nowrap">
                            [`Date`]
                        </div>
                        <div class="value">
                            <input type="text"
                                   name="transaction[date]"
                                   value="{$transaction->date}"/>
                            <i class="icon16 calendar"></i>
                            <span class="hint">[`Any date in the past or in the future`]</span>
                        </div>
                    </div>

                    {if $repeatingTransaction->id && ($repeatingTransaction->occurrences_in_future || $repeatingTransaction->repeating_end_type == cashRepeatingTransaction::REPEATING_END_NEVER)}
                    {* editing existing transaction *}
                    <div class="field">
                        <div class="value no-shift">
                            <label>
                                <input type="checkbox" name="repeating[apply_to_all_in_future]"/>
                                [`Apply this change to all future repeating transactions`]
                                {if $repeatingTransaction->repeating_end_type != cashRepeatingTransaction::REPEATING_END_NEVER}
                                    ({$repeatingTransaction->occurrences_in_future})
                                {/if}
                            </label>
                            <span class="hint"></span>
                        </div>
                    </div>
                    {/if}

                    <section data-cash-repeating-settings style="display: none">
                    <div class="field" style="{if $repeatingTransaction->id}display: none{/if}">
                        <div class="name nowrap">
                            [`Repeat`]
                        </div>
                        <div class="value no-shift">
                            <input type="hidden"
                                    {if $repeatingTransaction->id}readonly{/if}
                                   value="{$repeatingTransaction->repeating_frequency}"
                                   name="repeating[frequency]">
                            <select name="repeating[interval]"
                                    {if $repeatingTransaction->id}readonly{/if}
                            >
                                {foreach cashRepeatingTransaction::getRepeatingEveryIntervals() as $interval => $label}
                                    <option value="{$interval}"
                                            {if $repeatingTransaction->repeating_interval == $interval}selected{/if}
                                    >{$label}</option>
                                {/foreach}
                                <option data-cash-repeating-transaction-interval="custom">[`Custom...`]</option>
                            </select>

                            <div style="display: none" data-cash-repeating-transaction-frequency-custom>
                            [`Every`]
                                <input type="text"
                                       class="numerical short"
                                       {if $repeatingTransaction->id}readonly{/if}
                                       value="{$repeatingTransaction->repeating_frequency}"
                                       name="repeating[frequency]"
                                >
                                <select {if $repeatingTransaction->id}readonly{/if}
                                        name="repeating[interval]"
                                >
                                    {foreach cashRepeatingTransaction::getRepeatingIntervals() as $interval => $label}
                                        <option value="{$interval}"
                                                {if $repeatingTransaction->repeating_interval == $interval}selected{/if}
                                        >{$label}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name nowrap">
                            [`End repeat`]
                        </div>
                        <div class="value no-shift">
                            <select {if $repeatingTransaction->id}readonly{/if}
                                    name="repeating[end_type]"
                            >
                                {foreach cashRepeatingTransaction::getRepeatingEndTypes() as $type => $label}
                                <option data-cash-repeating-transaction-end="{$type}"
                                        {if $repeatingTransaction->repeating_end_type == $type}selected{/if}
                                        value="{$type}"
                                >{$label}</option>
                                {/foreach}
                            </select>
                            <div style="display: none" data-cash-repeating-transaction-end-never></div>
                            <div style="display: none" data-cash-repeating-transaction-end-after>
                                <input type="text"
                                       {if $repeatingTransaction->id}readonly{/if}
                                       class="numerical short"
                                       value="{$repeatingTransaction->repeating_end_conditions.after}"
                                       name="repeating[end][after]"
                                > [`occurrences`]
                            </div>
                            <div style="display: none" data-cash-repeating-transaction-end-ondate>
                                <input type="text"
                                       name="repeating[end][ondate]"
                                       {if $repeatingTransaction->id}readonly{/if}
                                       value="{$repeatingTransaction->repeating_end_conditions.ondate}"
                                > <i class="icon16 calendar"></i>
                            </div>
                        </div>
                    </div>
                    </section>
                </div>
                <div class="field-group">
                    <div class="field">
                        <div class="name nowrap">
                            [`Account`]
                        </div>
                        <div class="value no-shift">
                            {$account = reset($accounts)}
                            <i class="icon16 {$account->icon}"
                               data-cash-transaction-account-icon
                               {if $account->iconLink}style="background-image: url('{$account->iconLink}'); background-size: 16px 16px;"{/if}
                            ></i>
                            <select name="transaction[account_id]" data-cash-element="account-with-sign">
                                {foreach $accounts as $account}
                                    <option value="{$account->id}"
                                            {if $account->id == $transaction->account->id}selected{/if}
                                            data-cash-account-currency-sign="{$account->currency->getSign()|escape}"
                                            data-cash-account-icon="{$account->icon}"
                                            data-cash-account-icon-link="{$account->iconLink}"
                                    >
                                        {$account->currency->getCode()|escape} - {$account->name|escape} ({$account->currency->getSign()|escape})
                                    </option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name nowrap">
                            [`Category`]
                        </div>
                        <div class="value no-shift">
                            <i class="icon16 color" data-cash-transaction-category style="background: #dddddd;"></i>
                            <select name="transaction[category_id]" data-cash-element="category-with-color">
                                <option value="0" data-cash-category-color="{cashColorStorage::DEFAULT_NO_CATEGORY_GRAPH_COLOR}">[`No category`]</option>
                                {foreach $categories as $category}
                                    <option value="{$category->id}"
                                            {if $category->id == $transaction->category->id}selected{/if}
                                            data-cash-category-color="{$category->color}">
                                        {$category->name|escape}
                                    </option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name nowrap">
                            [`Description`]
                        </div>
                        <div class="value no-shift">
                            <textarea name="transaction[description]"
                                      cols="30"
                                      rows="10"
                                      placeholder="[`Optional`]"
                            >{$transaction->description|escape}</textarea>
                        </div>
                    </div>

                    {if $categoryType == cashCategory::TYPE_TRANSFER}
                    <div class="field">
                        <div class="name nowrap">
                            [`Transaction account to transfer`]
                        </div>
                        <div class="value">
                            <select name="transfer[account_id]">
                                {foreach $accounts as $account}
                                    <option value="{$account->id}">
                                        {$account->name|escape} ({$account->currency->getSign()|escape})
                                    </option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    {/if}

                    {if $categoryType == cashCategory::TYPE_TRANSFER}
                        <div class="field">
                            <div class="name nowrap">
                                [`Transaction category to transfer`]
                            </div>
                            <div class="value">
                                <select name="transfer[category_id]">
                                    <option value="0">[`No category`]</option>
                                    {foreach $categoriesIncome as $category}
                                        <option value="{$category->id}" {if $category->id == $transaction->category->id}selected{/if}>
                                            {$category->name|escape}
                                        </option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    {/if}
                </div>

                <!-- plugin hook: 'backend_transaction_dialog' -->
                {* @event backend_transaction_dialog.%plugin_id% *}
                {if !empty($backend_transaction_dialog)}{foreach $backend_transaction_dialog as $_}{ifset($_)}{/foreach}{/if}

            </div>
        </div>
    </div>

    <div class="dialog-buttons">
        {if $transaction->id}
            <div class="block half-padded float-right">
                <ul class="menu-h">
                    <li>
                        <a href="#"
                           data-cash-action="delete-transaction"
                           data-cash-transaction-id="{$transaction->id}"
                           data-cash-transaction-text="[`Delete transaction`]"
                           data-cash-repeating-transaction-text="{sprintf('[`Delete %s transactions`]', $repeatingTransaction->occurrences_in_future)}"
                        ><i class="icon16 delete"></i> <span>[`Delete transaction`]</span></a>
                    </li>
                </ul>
            </div>
        {/if}
        <input type="submit"
               value="[`Save 1 transaction`]"
               class="button green"
               data-cash-transaction-text="[`Save 1 transaction`]"
               data-cash-repeating-transaction-text="{sprintf('[`Save %d transactions`]', $repeatingTransaction->occurrences_in_future)}"
        /> [`or`] <a class="cancel" href="#">[`cancel`]</a>
        <div class="errormsg" style="display: none"></div>
    </div>
</section>
