{** @var cashTransactionPageFilterDto $filter **}
{** @var cashCategoryDto $category **}
{** @var cashGraphPeriodVO $selectedChartPeriod **}
{** @var cashGraphPeriodVO $selectedForecastPeriod **}
{** @var string $currentDate **}
{** @var cashStatOnDateDto[] $onHandsToday **}
<div class="content left200px">
    <div id="content">
        <div class="block">
            <h1{if $filter->id} class="float-left"{/if}>
                {if $filter->type == 'category' && $filter->id == cashCategoryFactory::NO_CATEGORY_INCOME_ID}
                    [`No category (income)`]
                {elseif $filter->type == 'category' && $filter->id == cashCategoryFactory::NO_CATEGORY_EXPENSE_ID}
                    [`No category (expense)`]
                {else}
                    {$filter->name|escape}
                {/if}

                {if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT}
                <span class="small" title="[`Cash on hand today`]">
                    {foreach $onHandsToday as $onHand}
                        <strong class="c-balance{if $onHand->stat->summary < 0} c-negative{/if} large">{round($onHand->stat->summary,2)|wa_format_number:false} {$onHand->currency->getSign()}</strong>
                        {if !$onHand@last}+{/if}
                        {foreachelse}
                        <strong class="c-balance large">0 {$onHand->currency->getSign()}</strong>
                    {/foreach}
                    <span class="hint" style="vertical-align: bottom;">{date('Y-m-d H:i:s', $smarty.now)|wa_date:humandate}</span>
                </span>
                {/if}

            </h1>
            {if $filter->id}
                <div class="block half-padded" style="position: relative; left: 1rem;">
                    <ul class="menu-h">
                        <li>
                            {if $filter->type == cashTransactionPageFilterDto::FILTER_ACCOUNT}
                            <a href="#"
                               class="gray"
                               data-cash-action="account-dialog" data-cash-account-id="{$filter->id}"
                            ><i class="icon16 settings"></i>[`Account settings`]</a>
                            {/if}
                            {if $filter->type == cashTransactionPageFilterDto::FILTER_CATEGORY}
                            <a href="#"
                               class="gray"
                               data-cash-action="category-dialog" data-cash-category-id="{$filter->id}"
                            ><i class="icon16 settings"></i>[`Category settings`]</a>
                            {/if}
                        </li>
                    </ul>
                </div>
            {/if}
            <div class="float-right">
                <ul class="menu-h dropdown" data-cash-chart-dates>
                    <li>
                        [`Past`]: <a href="#" class="inline-link nowrap"
                                      style="display: inline;"><b><i>{$selectedChartPeriod->getName()}</i></b> <i
                                    class="icon10 darr"></i></a>
                        <ul class="menu-v">
                            {foreach cashGraphService::getChartPeriods() as $period}
                            <li><a href="#" data-cash-start-date="{$period->getDate()->format('Y-m-d')}">{$period->getName()}</a></li>
                            {/foreach}
                            <!-- TODO <li class="bordered-top"><a href="#">[`Select dates...`]</a></li> -->
                        </ul>
                    </li>
                    <li>
                        [`Future`]: <a href="#" class="inline-link nowrap"
                                         style="display: inline;"><b><i>{$selectedForecastPeriod->getName()}</i></b> <i class="icon10 darr"></i></a>
                        <ul class="menu-v">
                            {foreach cashGraphService::getForecastPeriods() as $period}
                            <li><a href="#" data-cash-end-date="{$period->getDate()->format('Y-m-d')}">{$period->getName()}</a></li>
                            {/foreach}
                            <!-- TODO <li class="bordered-top"><a href="#">[`Select dates...`]</a></li> -->
                        </ul>
                    </li>

                </ul>

            </div>

            <div class="c-chart" id="cash-chart"></div>

            {if $listSettings->showOnHandsEndday}
                <div class="block align-right">

                    {sprintf('[`Cash on hand in %s (%s):`]', $selectedForecastPeriod->getName(), $endDate|wa_date:humandate )}

                    {foreach $onHandsEndday as $onHand}
                        <strong class="c-balance{if $onHand->stat->summary < 0} c-negative{/if} large">{round($onHand->stat->summary,2)|wa_format_number:false} {$onHand->currency->getSign()}</strong>
                        {if !$onHand@last}+{/if}
                        {foreachelse}
                        <strong class="c-balance large">0</strong>
                    {/foreach}
                </div>
            {/if}

            <div class="c-transactions" data-cash-wrapper="transaction-list">
            </div>

        </div>
    </div>
</div>
<style>
    .c3-region.regionFuture {
        opacity: 90%;
    }
</style>
<script>
    'use strict';
    (function () {
        var TransactionPage = (function () {
            var filterId = '{$filter->identifier}',
                filterType = '{$filter->type}',
                startDate = '{$startDate}',
                endDate = '{$endDate}',
                currentDate = '{$currentDate}',
                start = {$pagination->getStart()},
                limit = {$pagination->getLimit()},
                $transactionList = $('[data-cash-wrapper="transaction-list"]');

            $.cash.loadTransactions(startDate, endDate, filterId, filterType, $transactionList, start, limit);
            $.cash.loadGraphData(startDate, endDate, filterId, filterType, '#cash-chart');

            $('[data-cash-start-date]').on('click.cash', function (e) {
                e.preventDefault();

                var $this = $(this),
                    date = $this.data('cash-start-date');

                window.location.hash = ['#', filterType, filterId, date, endDate].join('/');
            });

            $('[data-cash-end-date]').on('click.cash', function (e) {
                e.preventDefault();

                var $this = $(this),
                    date = $this.data('cash-end-date');

                window.location.hash = ['#', filterType, filterId, startDate, date].join('/');
            });
        })();
    })();
</script>
