<div id="cash-import-page" class="article wide">
    <div class="article-body">

        <h1>[`Import`]</h1>

        <div class="custom-my-16">
            <ul class="tabs bordered-bottom">
                <li class="selected">
                    <a href="{$wa_app_url}import/">
                        <i class="fas fa-file-excel" style="color: #499b5e;"></i>
                        [`Excel (CSV)`]
                    </a>
                </li>
                <li>
                    <a href="{$wa_app_url}shop/settings/">
                        <i class="icon" style="background-image: url('{$wa_url}wa-apps/cash/img/shop.svg');"></i>
                        Shop-Script
                    </a>
                </li>
                {*
                    <li>
                        <a href="javascript:void(0);">
                            <i class="fab fa-tinkoff"></i>
                            Tinkoff
                            (plugin tab hook here)
                        </a>
                    </li>
                *}
                <li>
                    <a href="{$wa_app_url}plugins/">
                        <i class="fas fa-plug"></i>
                        [`Plugins`]
                    </a>
                </li>
            </ul>
        </div>

        {if count($imports)}
        <div>
            <p class="small">[`Review and manage previous import results:`]</p>
            <ul class="chips rounded small">
                {** @var cashImportDto $import **}
                {foreach $imports as $import}
                    <li>
                        <a href="{$wa_app_url}import/{$import->id}?importinfo={base64_encode($import->filename|escape|cat:' / '|cat:$import->create_datetime)}">
                            {*
                                <img class="userpic" src="{$import->contact->getPhoto(20)}" />
                            *}
                            <i class="fas fa-file-excel" style="color: #499b5e;"></i>
                            <strong>{sprintf('%d transactions', $import->success)}</strong>
                            {$import->create_datetime|wa_datetime:humandatetime}

                            <span class="hint">
                                {$import->filename|escape|truncate:24}
                            </span>
                        </a>
                    </li>
                {/foreach}
                <li class="transparent small">
                    <a href="#" class="count" data-cash-action="imports-delete">
                        <i class="fas fa-times-circle"></i>
                        [`Dismiss import history`]
                    </a>
                </li>
            </ul>
        </div>
        <hr>
        {/if}

        <h3>
            [`Import via CSV`]
            <span class="hint">[`CSV (Excel)`]</span>
        </h3>
        <ol class="c-import-progress">
            <li class="current">[`Select a file.`]</li>
            <li>[`Preview & configure.`]</li>
            <li>[`Import!`]</li>
        </ol>

        <form action="?module=import&action=upload" method="post" enctype="multipart/form-data" target="cash-upload-file" id="cash-import-upload-form">
            <div id="c-import-step-1">
                <div class="fields form">
                    <div class="field">
                        <div class="name for-input">
                            [`Encoding`]
                        </div>
                        <div class="value">
                            <div class="wa-select small">
                                <select name="upload[encoding]">
                                    {foreach cashImportCsv::getEncodings() as $encoding}
                                    <option>{$encoding}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name for-input">
                            [`Delimeter`]
                        </div>
                        <div class="value">
                            <div class="wa-select small">
                                <select name="upload[delimiter]">
                                    {foreach cashImportCsv::getDelimiters() as $name => $value}
                                    <option value="{$value}">{$name}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name for-input">
                            [`Select file`]
                        </div>
                        <div class="value">
                            <input type="file" name="upload[file]"/>
                            <p class="hint">
                                {sprintf(
                                    '[`Supported file formats: <b>%s</b>`]',
                                    '<i class="fas fa-file-excel" style="color: #499b5e;"></i> .CSV (Excel)'
                                )}
                            </p>
                            <p class="hint">
                                {if $wa->locale() == 'ru_RU'}
                                    {$_sample = 'https://www.webasyst.ru/wa-data/public/site/downloads/cash-app-csv-sample-file-ru_utf8.csv'}
                                {else}
                                    {$_sample = 'https://www.webasyst.com/wa-data/public/site/downloads/cash-app-csv-sample-file-en_utf8.csv'}
                                {/if}
                                <a href="{$_sample}">[`Download sample file`]</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <iframe style="display: none;" frameborder="0" name="cash-upload-file" id="cash-upload-file"></iframe>

        <div id="c-import-step-2"></div>

    </div>
</div>
<script>
    'use strict';
    (function () {
        var $w = $('#cash-import-page'),
            $importProgress = $w.find('.c-import-progress'),
            $uploadForm = $('#cash-import-upload-form'),
            $uploadIframe = $('#cash-upload-file'),
            $step2 = $('#c-import-step-2'),
            $loading = $('<div class="custom-mt-16"><i class="fas fa-spinner"></i></div>');

        $uploadForm.on('change', '[name="upload[file]"]', function () {
            $uploadForm.append($loading);
            $uploadForm.trigger('submit');

            $uploadIframe.one('load', function () {
                $loading.remove();
                var html = $(this).contents().find('body').html();
                $step2.html(html);

                $w.trigger('stepChange.cash', 2);
            });
        });

        $w
            .on('stepChange.cash', function (e, stepN) {
                stepN--;
                $importProgress.find('li').removeClass().each(function (index) {
                    if (index < stepN) {
                        $(this).addClass('completed');
                    }

                    if (index == stepN) {
                        $(this).addClass('current');
                    }
                });
            })
            .on('click.cash', '[data-cash-action="imports-delete"]', function (e) {
                e.preventDefault();

                if (!confirm($_('Clear import history (don’t worry, imported transactions will not be affected)?'))) {
                    return;
                }

                $.post(
                    '?module=import&action=deleteAll',
                    function (r) {
                        if (r.status === 'ok') {
                            window.location.reload();
                        } else {
                            self.log(r.errors.join("\n"));
                            alert(r.errors.join("\n"));
                        }
                    },
                    'json'
                );
            })
        ;
    }())
</script>
