<div class="content left200px" id="cash-import-page">

    <h1>[`Import`]</h1>

    <ol class="c-import-progress">
        <li class="completed">[`Select a file.`]</li>
        <li class="current">[`Preview & configure.`]</li>
        <li>[`Import!`]</li>
    </ol>

    <form action="?module=import&action=upload" method="post" enctype="multipart/form-data" target="cash-upload-file" id="cash-import-upload-form">
    <div id="c-import-step-1">
        <div class="fields form">
            <div class="field">
                <div class="name">
                    [`Encoding`]
                </div>
                <div class="value no-shift">
                    <select name="upload[encoding]">
                        <option>UTF-8</option>
                        <option>...copy from Shop-Script...</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="name">
                    [`Delimeter`]
                </div>
                <div class="value no-shift">
                    <select name="upload[delimiter]">
                        <option>[`Semicolon (;)`]</option>
                        <option>[`Comma (,)`]</option>
                        <option>[`Tab`]</option>
                    </select>
                </div>
            </div>
            <div class="field">
                <div class="name">
                    [`Select file`]
                </div>
                <div class="value no-shift">
                    <input type="file" name="upload[file]"/>
                    <p class="hint">
                        <br>
                        {sprintf(
                            '[`Supported file formats: <b>%s</b>`]',
                            'CSV (Excel)'
                        )}
                    </p>
                </div>
            </div>
        </div>
    </div>
    </form>
    <iframe style="display: none;" frameborder="0" name="cash-upload-file" id="cash-upload-file"></iframe>

    <div id="c-import-step-2"></div>
</div>
<script>
    'use strict';
    (function () {
        var $w = $('#cash-import-page'),
            $uploadForm = $('#cash-import-upload-form'),
            $uploadIframe = $('#cash-upload-file'),
            $step2 = $('#c-import-step-2');

        $uploadForm.on('change', '[name="upload[file]"]', function () {
            $uploadForm.trigger('submit');

            $uploadIframe.one('load', function () {
                var html = $(this).contents().find('body').html();
                $step2.html(html);
            });
        });
    }())
</script>