{** @var $info cashShopBackendOrderDto **}

<div style="border-radius: 6px; border: 1px solid #ddd; background: #fff; padding: 12px;">
    <h5 class="heading">
        <i class="icon16" style="background-image: url('{$wa_url}wa-apps/cash/img/cash48.png'); background-size: 16px 16px; margin-left: -2px;"></i> {if $wa->locale() == 'ru_RU'}Деньги{else}Cash Flow{/if}
    </h5>

    <ul class="bold" style="list-style: none; padding: 0; font-size: 15px;">
        {if $info->incomeCount}
            <li style="padding: 2px 0;" title="{if $wa->locale() == 'ru_RU'}Доход{else}Income{/if}"><span style="color: #22d13d;">{implode(' ', $info->income)} ({$info->incomeCount})</span></li>
        {/if}
        {if $info->expenseCount}
            <li style="padding: 2px 0;" title="{if $wa->locale() == 'ru_RU'}Расход{else}Expense{/if}"><span style="color: #ff421a;">{implode(' ', $info->expense)} ({$info->expenseCount})</span></li>
        {/if}
        {if $info->profitCount}
            <li style="padding: 2px 0;" title="{if $wa->locale() == 'ru_RU'}Прибыль{else}Profit{/if}"><span style="color: #1a9afe;">{implode(' ', $info->profit)}  ({$info->profitCount})</span></li>
        {/if}
        <li style="padding: 10px 0 0; border-top: 1px solid #ddd; margin-top: 10px;" title="{if $wa->locale() == 'ru_RU'}Дельта{else}Delta{/if}"><span style="color: #aaa;">Δ {implode(' ', $info->delta)}</span></li>
    </ul>

    <a href="{$info->link}" target="_blank">
        {if $wa->locale() == 'ru_RU'}Все операции{else}View transactions{/if}
        ({$info->incomeCount + $info->expenseCount + $info->profitCount})
        <i class="icon10 new-window"></i>
    </a>
</div>
