.icg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .icg-header {
    flex: none;
    display: flex;
    align-items: start;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem;
  }
  
  @media screen and (max-width: 760px) {
    .icg-header {
      align-items: center;
    }
  }
  
  .icg-month {
    text-transform: capitalize;
  }
  
  .icg-controls {
    display: flex;
  }
  
  .icg-controls button {
    background-color: var(--background-color-btn-light-gray);
    color: var(--text-color-input);
    box-shadow: none;
  }
  
  .icg-controls button svg {
    fill: var(--text-color-input);
  }
  
  .icg-weekdays {
    flex: none;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  
  .icg-weekdays__cell {
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom-style: solid;
    border-color: rgba(209, 213, 219, 0.4);
    border-bottom-width: 1px;
    box-sizing: border-box;
  }
  
  .icg-weekdays__cell,
  .icg-months-grid-day {
    border-color: var(--border-color-soft);
  }
  
  .icg-weekdays__cell--weekend {
    color: var(--text-color-hint);
  }
  
  .icg-month {
    font-size: 2rem;
    color: var(--text-color-strongest);
    line-height: 1.2em;
    font-weight: bold;
  }
  
  @media screen and (max-width: 760px) {
    .icg-month {
      font-size: 1.3rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  .icg-wrapper {
    overflow: hidden;
    height: 100%;
  }
  
  .icg-months-grid {
    transition-duration: 500ms;
    transition-delay: 0ms;
    transform: translate3d(0px, 0px, 0px);
    transition-timing-function: ease;
    box-sizing: content-box;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }
  
  .icg-months-grid-day {
    position: relative;
    overflow: hidden;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-color: rgba(209, 213, 219, 0.4);
    box-sizing: border-box;
    color: var(--text-color-hint);
    background-color: rgba(0, 20, 80, 0.01);
  }
  
  .icg-months-grid-day:nth-child(7n) {
    border-right: 0;
  }
  
  .icg-months-grid-day--active-month {
    background-color: var(--background-color-blank);
  }
  
  .icg-months-grid-day--weekend {
    background-color: rgba(0, 20, 80, 0.05) !important;
  }
  
  .icg-months-grid-day--weekend.icg-months-grid-day--active-month {
    background-color: rgba(0, 20, 80, 0.01) !important;
  }