{** @var cashAccountDto $account **}
<div class="content left200px">
    <div id="content">
        <div class="block">
            <h1>
                {$account->name|escape}
            </h1>
            <div class="float-right">
                <ul class="menu-h dropdown">
                    <li>
                        [`Chart`]: <a href="#" class="inline-link nowrap"
                                      style="display: inline;"><b><i>[`Last 365 days`]</i></b> <i
                                    class="icon10 darr"></i></a>
                        <ul class="menu-v">
                            <li><a href="#">{sprintf('[`Last %d days`]',  30)}</a></li>
                            <li><a href="#">{sprintf('[`Last %d days`]',  90)}</a></li>
                            <li><a href="#">{sprintf('[`Last %d days`]', 180)}</a></li>
                            <li><a href="#">{sprintf('[`Last %d days`]', 365)}</a></li>
                            <li><a href="#">[`Last 3 years`]</a></li>
                            <li><a href="#">[`All time`]</a></li>
                            <!-- TODO <li class="bordered-top"><a href="#">[`Select dates...`]</a></li> -->
                        </ul>
                    </li>
                    <li>
                        [`Forecast`]: <a href="#" class="inline-link nowrap"
                                         style="display: inline;"><b><i>[`3 months`]</i></b> <i class="icon10 darr"></i></a>
                        <ul class="menu-v">
                            <li><a href="#">[`None`]</a></li>
                            <li><a href="#">[`1 month`]</a></li>
                            <li><a href="#">[`3 months`]</a></li>
                            <li><a href="#">[`6 months`]</a></li>
                            <li><a href="#">[`12 months`]</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="inline-link gray"><b><i>[`Export`]</i></b><i class="icon10 darr"></i></a>
                        <ul class="menu-v">
                            <li><a href="#"><i class="icon16 c-table"></i>[`CSV`]</a></li>
                            <!-- possible plugin hook here -->
                        </ul>
                    </li>

                </ul>

            </div>

            <div class="block half-padded" style="padding-left: 0;">
                [`Cash on hand today`]:
                {foreach $onHandsToday as $onHand}
                    <strong class="c-positive highlighted large">{$onHand->stat->summaryShorten} {$onHand->currency->getSign()}</strong>
                    {if !$onHand@last}+{/if}
                    {foreachelse}
                    <strong class="c-positive highlighted large">0</strong>
                {/foreach}
                <span class="hint">{date('Y-m-d H:i:s', $smarty.now)|wa_date:humandate}</span>
            </div>

            <div class="c-chart" id="cash-chart"></div>

            <!-- <div class="float-right">

            </div> -->

            <div class="c-transactions">
                {if 1 || FORECAST_IS_SHOWN}
                    <div class="float-right">
                        {sprintf('[`Cash on hand on %s`]', $endDate|wa_date:humandate)}:

                        {foreach $onHandsEndday as $onHand}
                            <strong class="c-positive highlighted large">{$onHand->stat->summaryShorten} {$onHand->currency->getSign()}</strong>
                            {if !$onHand@last}+{/if}
                            {foreachelse}
                            <strong class="c-positive highlighted large">0</strong>
                        {/foreach}
                    </div>
                {/if}

                <ul class="menu-h dropdown">
                    <li><a href="#"
                           class="inline-link"
                           data-cash-action="add-transaction"
                           data-cash-category-type="{cashCategory::TYPE_INCOME}"
                        ><i class="icon16 add"></i><b><i><strong>[`Add income`]</strong></i></b></a></li>
                    <li><a href="#"
                           class="inline-link"
                           data-cash-action="add-transaction"
                           data-cash-category-type="{cashCategory::TYPE_EXPENSE}"
                        ><i class="icon16 delete"></i><b><i><strong>[`Add expense`]</strong></i></b></a></li>
                    <li><a href="#"
                           class="inline-link"
                           data-cash-action="add-transaction"
                           data-cash-category-type="{cashCategory::TYPE_TRANSFER}"
                        ><i class="icon16 move"></i><b><i><strong>[`Transfer`]</strong></i></b></a></li>


                    <!--

                        TRANSACTION TEMPLATES: some day

                    <li>
                        <a href="#" class="inline-link gray"><b><i>[`Select template`]</i></b><i class="icon10 darr"></i></a>
                        <ul class="menu-v">
                            <li><a href="#"><i class="icon16 color"></i>Аренда офиса</a></li>
                            <li><a href="#"><i class="icon16 color"></i>Оплата хостинга</a></li>
                            <li><a href="#"><i class="icon16 color"></i>Подписка на сторонние сервисы</a></li>
                            <li><a href="#"><i class="icon16 color"></i>Комиссия банка</a></li>
                            <li class="bordered-top"><a href="#" class="gray"><i class="icon16 settings"></i>[`Manage templates`]</a></li>
                        </ul>
                    </li> -->

                </ul>
                <table class="zebra" id="cash-transaction-list">
                    <!-- <tr>
                        <th>[`Date`]</th>
                        <th>[`Account`]</th>
                        <th>[`Category`]</th>
                        <th>[`Summary`]</th>
                        <th>[`Amount`]</th>
                        <th>[`Balance`]</th>
                        <th></th>
                    </tr> -->
                </table>
                <br>
            </div>
            <p class="align-center gray">{sprintf('[`Total income: <b>%s</b> / Total expense: <b>%s</b>`]', '100500 ₽ + $1295', '9204 ₽ + $921')}</p>

        </div>
    </div>
</div>
<script>
    'use strict';
    (function () {
        var transactionDialog = function(transactionId,  accountId, categoryType) {
            $('#cash-transaction-dialog').waDialog({
                'height': '250px',
                'width': '600px',
                'url': '?module=transaction&action=dialog&transaction_id=' + transactionId + '&category_type=' + categoryType + '&account_id=' + accountId,
                onLoad: function () {
                    var d = this,
                        $dialogWrapper = $(d);

                    $dialogWrapper
                        .on('click', '[data-cash-action="delete-transaction"]', function (e) {
                            e.preventDefault();

                            $.post('?module=transaction&action=delete', $dialogWrapper.find('form').serialize(), function (r) {
                                if (r.status === 'ok') {
                                    $dialogWrapper.trigger('close');
                                    // window.location.hash = '#/';
                                    // $.status.routing.redispatch();
                                    $.cash.reloadSidebar();
                                }
                            });
                        })
                    ;

                    setTimeout(function () {
                        $dialogWrapper.find('[name="transaction[amount]"]').trigger('focus');
                    }, 13.12);
                },
                onSubmit: function (d) {
                    d.find('.dialog-buttons input[type="button"]').after($.cash.$loading);
                    $.post('?module=transaction&action=save', d.find('form').serialize(), function (r) {
                        $.cash.$loading.remove();
                        if (r.status === 'ok') {
                            d.trigger('close');
                            // if (!pocketId) {
                            // window.location.hash = '#/project/' + r.data.id;
                            // }
                            $.cash_routing.redispatch();
                            $.cash.reloadSidebar();
                        } else {

                        }
                    }, 'json');
                    return false;
                }
            });
        };

        var AccountPage = (function () {
            var accountId = parseInt('{$account->id}'),
                startDate = '{$startDate}',
                endDate = '{$endDate}',
                $transactionList = $('#cash-transaction-list');

            function loadTransactions() {
                $.get('?module=transaction&action=list', {
                    'startDate': startDate,
                    'endDate': endDate,
                    'account_id': accountId
                }, function (html) {
                    $transactionList.html(html);
                })
            }

            function loadGraphData() {
                $.get('?module=transaction&action=graphData', {
                    'startDate': startDate,
                    'endDate': endDate,
                    'account_id': accountId
                }, function (r) {
                    if (r.status === 'ok') {
                        console.log(r.data);

                        var chart = c3.generate({
                            bindto: '#cash-chart',
                            data: r.data.graphData,
                            axis: {
                                x: {
                                    // type: 'category',
                                    type: 'timeseries'
                                    // tick: {
                                    //     count: 30,
                                    //     format: '%Y-%m-%d'
                                    // }
                                }
                            },
                            // bar: {
                            //     width: {
                            //         ratio: 0.1
                            //     }
                            // },
                            line: {
                                connectNull: true
                            }
                        });
                    }
                })
            }

            loadTransactions();
            loadGraphData();

            $('[data-cash-action="add-transaction"]').on('click', function (e) {
                e.preventDefault();
                transactionDialog(0, accountId, $(this).data('cash-category-type'))
            })
        })();
    })();
</script>