<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    {$wa->css()}
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/cash.css?v{$wa->version()}">
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.core.js?v{$wa->version(true)}"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/cash.js?v{$wa->version()}"></script>

    {$accounts = [
            [ 'Pocket Lists', 'https://pocketlists.com/favicon.ico', '180K ₽' ],
            [ 'YesterdayMe', 'http://www.yesterdayme.com/favicon.ico', '-41K ₽' ],
            [ 'Магазин', 'https://www.shop-script.ru/favicon.ico', '31K ₽' ],
            [ 'Бар «1312»', 'https://1312.io/favicon.ico', '$100' ]
        ]}

    {$categories_income = [
            [ 'Продажи', '#17ae4f' ],
            [ 'Левак', '#26b7a3' ],
            [ 'Нам вернули долг' ],
            [ 'Проценты по вкладам' ],
            [ 'Взяли в долг', '#ccc' ],
            [ 'Ангельские инвестиции, о спасибо, боже, за этот подарок свыше', '#ccc' ]
        ]}
    {$categories_expense = [
            [ 'Закупки', '#c54b58' ],
            [ 'Зарплаты' ],
            [ 'Налоги' ],
            [ 'Офис' ],
            [ 'Реклама и маркетинг' ],
            [ 'Возврат долга' ],
            [ 'Комиссии банков' ],
            [ 'Дивиденды: полный вывод баблосов из бизнеса', '#ccc' ]
        ]}

    {$templates = [
            [ 'Поступление на ИП', 'income', '' ],
            [ 'Аренда офиса', 'expense', '' ],
            [ 'Хостинг', 'expense', '' ],
            [ 'Закуп в офис', 'expense', '' ]
        ]}


</head>
<body>
 ***REMOVED***
 ***REMOVED***
        <div id="wa-app">
            <div class="sidebar left200px">
                <div class="block">

                    <ul class="menu-v with-icons">
                        {if 1 || PROJECT_COUNT > 1}
                        <li class="bottom-padded selected">
                            <a href="#" class="bold">
                                <!-- <span class="count">170K</span> -->
                                [`All accounts`]
                            </a>
                        </li>
                        {/if}

                        {foreach $accounts as $a}
                            <li>
                                 <a href="#/account/N"><span class="count">{$a[2]}</span><i class="icon16" style="background-image: url('{$a[1]}'); background-size: 16px 16px;"></i>{$a[0]}</a>
                            </li>
                        {/foreach}
                        <li class="small">
                             <a href="#"><i class="icon10 add"></i> [`New account`]</a>
                        </li>
                    </ul>
                </div>
                <div class="block">
                    <h5 class="heading top-padded">
                        <!-- <a href="#" class="count"><i class="icon16 add"></i></a> -->
                        [`Income`]
                    </h5>
                    <ul class="menu-v with-icons">
                        {foreach $categories_income as $c}
                        <li>
                             <a href="#/income/N"><i class="icon16 color" style="background: {$c[1]|default:'#47ce6f'};"></i>{$c[0]}</a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                <div class="block">
                    <h5 class="heading top-padded">
                        <!-- <a href="#" class="count"><i class="icon16 add"></i></a> -->
                        [`Expenses`]
                    </h5>
                    <ul class="menu-v with-icons">
                        {foreach $categories_expense as $c}
                        <li>
                             <a href="#/expense/N"><i class="icon16 color" style="background: {$c[1]|default:'#f56b68'};"></i>{$c[0]}</a>
                        </li>
                        {/foreach}
                    </ul>
                </div>
                <div class="block">
                    <h5 class="heading top-padded">
                        <!-- <a href="#" class="count"><i class="icon16 add"></i></a> -->
                        [`Other`]
                    </h5>
                    <ul class="menu-v with-icons">
                        <li>
                             <a href="#/transfers/"><i class="icon16 color" style="background: #8bd5ff;"></i>[`Transfers`]</a>
                        </li>
                    </ul>

                    <hr>
                    <ul class="menu-v with-icons">
                        <!-- plugin hook -->
                        <li>
                            <a href="#"><i class="icon16 c-table"></i>[`Cash flow`]</a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="icon16 calendar"></i>[`Calendar`]</a>
                        </li> -->
                        <!-- <li>
                            <a href="#"><i class="icon16 contact"></i>[`Customers`]</a>
                        </li> -->
                         <li>
                             <a href="#"><i class="icon16 upload"></i>[`Import`]</a>
                         </li>
                         <li class="top-padded">
                             <a href="#"><i class="icon16 settings"></i>[`Settings`]</a>
                         </li>
                    </ul>
                </div>
            </div>
            <div class="content left200px">
                <div id="content">
                    <div class="block">
                        <h1>
                            [`All accounts`]
                        </h1>
                        <div class="float-right">
                            <ul class="menu-h dropdown">
                                <li>
                                    <a href="#" class="inline-link"><b><i>[`Last 365 days`]</i></b> <i class="icon10 darr"></i></a>
                                    <ul class="menu-v">
                                        <li><a href="#">[`Last 30 days`]</a></li>
                                        <li><a href="#">[`Last 90 days`]</a></li>
                                        <li><a href="#">[`Last 365 days`]</a></li>
                                        <li><a href="#">[`All time`]</a></li>
                                        <li class="bordered-top"><a href="#">[`Custom range...`]</a></li>
                                    </ul>
                                </li>
                                <li>
                                    [`Forecast`]: <a href="#" class="inline-link nowrap" style="display: inline;"><b><i>[`3 months`]</i></b> <i class="icon10 darr"></i></a>
                                    <ul class="menu-v">
                                        <li><a href="#">[`Off`]</a></li>
                                        <li><a href="#">[`1 month`]</a></li>
                                        <li><a href="#">[`3 months`]</a></li>
                                        <li><a href="#">[`6 months`]</a></li>
                                        <li><a href="#">[`12 months`]</a></li>
                                    </ul>
                                </li>

                            </ul>

                        </div>
                        <ul class="menu-h dropdown">
                            <li><a href="#" class="inline-link"><i class="icon16 add"></i><b><i><strong>[`Add income`]</strong></i></b></a></li>
                            <li><a href="#" class="inline-link"><i class="icon16 delete"></i><b><i><strong>[`Add expense`]</strong></i></b></a></li>
                            <li><a href="#" class="inline-link"><i class="icon16 move"></i><b><i><strong>[`Transfer`]</strong></i></b></a></li>

                            <!--

                                TRANSACTION TEMPLATES: some day

                            <li>
                                <a href="#" class="inline-link gray"><b><i>[`Select template`]</i></b><i class="icon10 darr"></i></a>
                                <ul class="menu-v">
                                    <li><a href="#"><i class="icon16 color"></i>Аренда офиса</a></li>
                                    <li><a href="#"><i class="icon16 color"></i>Оплата хостинга</a></li>
                                    <li><a href="#"><i class="icon16 color"></i>Подписка на сторонние сервисы</a></li>
                                    <li><a href="#"><i class="icon16 color"></i>Комиссия банка</a></li>
                                    <li class="bordered-top"><a href="#" class="gray"><i class="icon16 settings"></i>[`Manage templates`]</a></li>
                                </ul>
                            </li> -->

                        </ul>
                        <div class="c-chart"></div>

                        <!-- <div class="float-right">

                        </div> -->

                        <div class="c-transactions">
                            <div class="float-right">
                                {sprintf('[`Cash on hand on %s`]', date('Y-m-d H:i:s', $smarty.now + 86400*90)|wa_date:humandate)}:

                                <strong class="c-negative highlighted large">-37 920 ₽</strong>
                                +
                                <strong class="c-positive highlighted large">$100</strong>

                            </div>

                            <div class="block half-padded" style="padding-left: 0;">
                                [`Cash on hand today`]:
                                <strong class="c-positive highlighted large">170 129 ₽</strong>
                                +
                                <strong class="c-positive highlighted large">100 $</strong>
                                <span class="hint">{date('Y-m-d H:i:s', $smarty.now)|wa_date:humandate}</span>
                            </div>
                            <table class="zebra">
                                <!-- <tr>
                                    <th>[`Date`]</th>
                                    <th>[`Account`]</th>
                                    <th>[`Category`]</th>
                                    <th>[`Summary`]</th>
                                    <th>[`Amount`]</th>
                                    <th>[`Balance`]</th>
                                    <th></th>
                                </tr> -->
                                <tr class="white">
                                    <td colspan="7">
                                        <h5 class="heading">[`Upcoming`]</h5>
                                    </td>
                                </tr>
                                {for $i=1 to 3}
                                    <tr class="c-planned">
                                        <td>{date('Y-m-d', $smarty.now + (3 - $i) * 86400*30)|wa_date:humandate}</td>
                                        <td>PL</td>
                                        <td><i class="icon16 color" style="background: #f56b68;"></i>Офис</td>
                                        <td>Аренда офиса</td>
                                        <td><span>&minus;32 024 ₽</span></td>
                                        <td><span>100 500 ₽</span></td>
                                        <td>smth else</td>
                                    </tr>
                                {/for}
                                <tr class="white">
                                    <td colspan="7">
                                        <h5 class="heading">[`Completed`]</h5>
                                    </td>
                                </tr>
                                {for $i=1 to 12}
                                    <tr>
                                        <td>{date('Y-m-d', $smarty.now - 86400*30*$i)|wa_date:humandate}</td>
                                        <td>PL</td>
                                        <td><i class="icon16 color" style="background: #f56b68;"></i>Офис</td>
                                        <td>Аренда офиса</td>
                                        <td><span>&minus;32 024 ₽</span></td>
                                        <td><span>100 500 ₽</span></td>
                                        <td>smth else</td>
                                    </tr>
                                {/for}
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
