{$templates = [
[ 'Поступление на ИП', 'income', '' ],
[ 'Аренда офиса', 'expense', '' ],
[ 'Хостинг', 'expense', '' ],
[ 'Закуп в офис', 'expense', '' ]
]}

<div class="sidebar left200px">
    <div class="block">

        <ul class="menu-v with-icons" id="c-accounts-sidebar" data-sortable-type="account">
            {if count($accounts) > 1}
                <li class="bottom-padded selected">
                    <a href="#" class="bold">
                        <!-- <span class="count">170K</span> -->
                        <i class="icon16 reports"></i>[`All accounts`]
                    </a>
                </li>
            {/if}

            {** @var cashAccountDto $account **}
            {foreach $accounts as $account}
                <li data-id="{$account->id}">
                    <a href="#/account/{$account->id}">
                        <span class="count">{$account->stat->summaryShorten} {$account->currency->getSign()}</span>
                        <i class="icon16 {$account->icon}"
                           {if $account->iconLink}style="background-image: url('{$account->iconLink}'); background-size: 16px 16px;"{/if}
                        ></i>{$account->name|escape}
                    </a>
                </li>
            {/foreach}

            {if 1 || IS_APP_ADMIN}
                <li class="small">
                    <a href="#" data-cash-action="account-dialog" data-cash-account-id="0"><i class="icon10 add"></i>[`New account`]</a>
                </li>
            {/if}
        </ul>
    </div>
    {if count($incomes)}
        <div class="block">
            <h5 class="heading top-padded">
                <!-- <a href="#" class="count"><i class="icon16 add"></i></a> -->
                [`Income`]
            </h5>
            <ul class="menu-v with-icons" id="c-income-sidebar" data-sortable-type="category">
                {** @var cashCategoryDto $income **}
                {foreach $incomes as $income}
                <li data-id="{$income->id}">
                    <a href="#/category/{$income->id}"><i class="icon16 color" style="background: {$income->color|default:'#47ce6f'};"></i>{$income->name|escape}</a>
                </li>
                {/foreach}

                {if 1 || IS_APP_ADMIN}
                    <li class="small">
                        <a href="#"
                           data-cash-action="category-dialog"
                           data-cash-category-type="income"
                        ><i class="icon10 add"></i>[`New income category`]</a>
                    </li>
                {/if}
            </ul>
        </div>
    {/if}
    {if count($expenses)}
        <div class="block">
            <h5 class="heading top-padded">
                <!-- <a href="#" class="count"><i class="icon16 add"></i></a> -->
                [`Expenses`]
            </h5>
            <ul class="menu-v with-icons" id="c-expense-sidebar" data-sortable-type="category">
                {** @var cashCategoryDto $expense **}
                {foreach $expenses as $expense}
                <li data-id="{$expense->id}">
                    <a href="#/category/{$expense->id}"><i class="icon16 color" style="background: {$expense->color|default:'#f56b68'};"></i>{$expense->name|escape}</a>
                </li>
                {/foreach}

                {if 1 || IS_APP_ADMIN}
                    <li class="small">
                        <a href="#"
                           data-cash-action="category-dialog"
                           data-cash-category-type="expense"
                        ><i class="icon10 add"></i>[`New expense category`]</a>
                    </li>
                {/if}
            </ul>
        </div>
    {/if}
    <div class="block">
        {if 1 || IS_APP_ADMIN || MADE_AT_LEAST_ONE_TRANSFER_IN_THE_PAST}
            <h5 class="heading top-padded">
                <!-- <a href="#" class="count"><i class="icon16 add"></i></a> -->
                [`Other`]
            </h5>
            <ul class="menu-v with-icons">
                <li>
                    <a href="#/transfers/"><i class="icon16 color" style="background: #8bd5ff;"></i>[`Transfers`]</a>
                </li>
            </ul>
        {/if}

        {if count($imports) || IS_APP_ADMIN}
            <br>
            <h5 class="heading top-padded">
                <a href="#" class="count" data-cash-action="imports-delete"><i class="icon16 broom-bw" title="[`Clear import history`]"></i></a>
                [`Import history`]
            </h5>
            <ul class="menu-v with-icons">
                {** @var cashImportDto $import **}
                {foreach $imports as $import}
                <li>
                    <a href="#/import/view/{$import->provider}/{$import->id}">
                        <span class="count">{$import->success}</span>
                        <i class="icon16 userpic20" style="background-image: url('{$import->contact->getPhoto(20)}');"></i>{$import->filename|escape}
                        <br><span class="hint">{$import->create_datetime|wa_datetime:humandatetime}</span>
                    </a>
                </li>
                {/foreach}
            </ul>
        {/if}

        {if 1 || IS_APP_ADMIN}
            <hr>
            <ul class="menu-v with-icons">
                <!-- plugin hook -->
                <li>
                    <a href="#/cashflow/"><i class="icon16 c-table"></i>[`Cash flow`]</a>
                </li>
                <!-- <li>
                    <a href="#"><i class="icon16 calendar"></i>[`Calendar`]</a>
                </li> -->
                <!-- <li>
                    <a href="#"><i class="icon16 contact"></i>[`Customers`]</a>
                </li> -->
                <li>
                    <a href="#/import/"><i class="icon16 upload"></i>[`Import`]</a>
                </li>
                <li class="top-padded">
                    <a href="#/settings/"><i class="icon16 settings"></i>[`Settings`]</a>
                </li>
            </ul>
        {/if}

    </div>
</div>
