<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} &mdash; {$wa->accountName()}</title>
    {$wa->css()}
    <link type="text/css" rel="stylesheet" href="{$wa_app_static_url}css/cash.css?v{$wa->version()}">
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="{$wa_url}wa-content/js/jquery-wa/wa.core.js?v{$wa->version(true)}"></script>
    <script type="text/javascript" src="{$wa_app_static_url}js/cash.js?v{$wa->version()}"></script>

    {$projects = [
            [ 'Pocket Lists', 'https://pocketlists.com/favicon.ico', '180K' ],
            [ 'YesterdayMe', 'http://www.yesterdayme.com/favicon.ico', '-41K' ],
            [ 'Магазин', 'https://www.shop-script.ru/favicon.ico', '31K' ],
            [ 'Бар «1312»', 'https://1312.io/favicon.ico', '0' ]
        ]}

    {$categories = [
            [ 'Закупки' ],
            [ 'Зарплаты' ],
            [ 'Налоги' ],
            [ 'Офис' ],
            [ 'Реклама и маркетинг' ]
        ]}

    {$templates = [
            [ 'Поступление на ИП', 'income', '' ],
            [ 'Аренда офиса', 'expense', '' ],
            [ 'Хостинг', 'expense', '' ],
            [ 'Закуп в офис', 'expense', '' ]
        ]}


</head>
<body>
 ***REMOVED***
 ***REMOVED***
        <div id="wa-app">
            <div class="sidebar left200px">
                <div class="block">

                    <ul class="menu-v with-icons">
                        {if 1 || PROJECT_COUNT > 1}
                        <li class="bottom-padded selected">
                            <a href="#" class="bold">
                                <span class="count">170K</span>
                                [`All projects`]
                            </a>
                        </li>
                        {/if}

                        {foreach $projects as $p}
                            <li>
                                 <a href="#"><span class="count">{$p[2]}</span><i class="icon16" style="background-image: url('{$p[1]}'); background-size: 16px 16px;"></i>{$p[0]}</a>
                            </li>
                        {/foreach}
                        <li class="small">
                             <a href="#"><i class="icon10 add"></i> [`New project`]</a>
                        </li>
                    </ul>
                </div>
                <div class="block">
                    <h5 class="heading top-padded">
                        <a href="#" class="count"><i class="icon16 add"></i></a>
                        <!-- [`Categories`] -->
                        Статьи
                    </h5>
                    <ul class="menu-v collapsible">
                        {foreach $categories as $c}
                        <li>
                             <a href="#">{$c[0]}</a>
                        </li>
                        {/foreach}
                    </ul>

                    <!-- <h5 class="heading top-padded">
                        <a href="#" class="count"><i class="icon16 add"></i></a>
                        [`Templates`]
                    </h5>
                    <ul class="menu-v">
                        {foreach $templates as $t}
                        <li>
                             <label><a href="#"><i class="icon16 {if $t[1] == 'income'}add{else}delete{/if}"></i> {$t[0]}</a>
                        </li>
                        {/foreach}
                    </ul> -->

                    <hr>
                    <ul class="menu-v with-icons">
                        <!-- plugin hook -->
                        <li>
                            <a href="#"><i class="icon16 c-table"></i>[`Cash flow`]</a>
                        </li>
                        <!-- <li>
                            <a href="#"><i class="icon16 calendar"></i>[`Calendar`]</a>
                        </li> -->
                        <!-- <li>
                            <a href="#"><i class="icon16 contact"></i>[`Customers`]</a>
                        </li> -->
                         <li>
                             <a href="#"><i class="icon16 upload"></i>[`Import`]</a>
                         </li>
                         <li>
                             <a href="#"><i class="icon16 settings"></i>[`Settings`]</a>
                         </li>
                    </ul>
                </div>
            </div>
            <div class="content left200px">
                <div id="content">
                    <div class="block">

                        <div class="float-right block half-padded">
                            [`Forecast`]:
                            <select>
                                <option>[`Off`]</option>
                                <option>[`+1 month`]</option>
                                <option selected>[`+3 months`]</option>
                                <option>[`+6 months`]</option>
                                <option>[`+12 months`]</option>
                                <option>[`Custom range...`]</option>
                            </select>
                        </div>
                        <h1>
                            [`Cash`]: 170 129 RUB
                            <span class="hint">{date('Y-m-d H:i:s', $smarty.now)|wa_date:humandatetime}</span>
                        </h1>
                        <div class="c-chart">(chart here)</div>

                        <!-- <div class="float-right">
                            <ul class="menu-h">
                                <li class="selected"><a href="#" class="inline-link"><b><i>[`List`]</i></b></a></li>
                                <li><a href="#" class="inline-link"><b><i>[`Calendar`]</i></b></a></li>
                            </ul>
                        </div> -->

                        <div class="c-operations">
                            <div class="float-right">
                                <!-- [`Forecast`]:
                                <select>
                                    <option>[`+1 month`]</option>
                                    <option selected>[`+3 months`]</option>
                                    <option>[`+6 months`]</option>
                                    <option>[`+12 months`]</option>
                                    <option>[`Custom range...`]</option>
                                </select> -->
                                <ul class="menu-h">
                                    <li><a href="#" class="inline-link gray"><b><i>[`All categories`]</i></b><i class="icon10 darr"></i></a></li>
                                </ul>
                            </div>
                            <ul class="menu-h">
                                <li><a href="#" class="inline-link"><i class="icon16 add"></i><b><i><strong>[`Add income`]</strong></i></b></a></li>
                                <li><a href="#" class="inline-link"><i class="icon16 delete"></i><b><i><strong>[`Add expense`]</strong></i></b></a></li>
                                <li><a href="#" class="inline-link gray"><b><i>[`Select template`]</i></b><i class="icon10 darr"></i></a></li>
                            </ul>
                        </div>

                        <table class="zebra c-transactions">
                            <tr>
                                <th>[`Date`]</th>
                                <th>[`Project`]</th>
                                <th>[`Summary`]</th>
                                <th>[`Amount`]</th>
                                <th></th>
                            </tr>
                            {for $i=1 to 10}
                                <tr>
                                    <td>{date('Y-m-d')|wa_date:humandate}</td>
                                    <td>PL</td>
                                    <td>description</td>
                                    <td>100500</td>
                                    <td>smth else</td>
                                </tr>
                            {/for}
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
